<div class="marquee">
    <div class="marquee-content scroll">
      <div>{{ 't1798a0cf' | t }}</div>
      <div>{{ 'tn2b9b3a2d' | t }}</div>
      <div>{{ 'tn45be17be' | t }}</div>
      <div>{{ 't4d4cb7c2' | t }}</div>
      <div>{{ 't217a5c34' | t }}</div>
      <div>{{ 't407904fb' | t }}</div>
    </div>
    <div class="marquee-content scroll">
      <div>{{ 't1798a0cf' | t }}</div>
      <div>{{ 'tn2b9b3a2d' | t }}</div>
      <div>{{ 'tn45be17be' | t }}</div>
      <div>{{ 't4d4cb7c2' | t }}</div>
      <div>{{ 't217a5c34' | t }}</div>
      <div>{{ 't407904fb' | t }}</div>
    </div>
    <div class="html-embed w-embed">
      <style>
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem));
  }
}
.scroll {
  animation: scroll 18s linear infinite;
}
.reverse {
  animation-direction: reverse;
}
</style>
    </div>
  </div>