<!DOCTYPE html>
<html
  data-wf-page="{{ wfPage }}"
  data-wf-site="63fb8d54806681128a4258a9"
  lang="{{ request.locale.iso_code }}"
  data-money-format="{{ shop.money_format | escape }}">
  <head>
    {%- assign headerSnippetPath = "header-index" -%}{%- assign wfPage = "63fb8d54806681e5d74258a2" -%}{%- assign bodyClasses = "body" -%}
    {%- liquid
    if headerSnippetPath
        include headerSnippetPath
    else
        render "__default-head"
    endif
-%}
    {{ content_for_header }}
    {% if template contains 'customers' %}
      {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {% endif %}

    <script src="//sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js"></script>
<!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1262507217983662');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1262507217983662&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
  </head>
  <body class="{{ bodyClasses }} {{ "template-" | append: request.page_type | handle }}">

    {% section 'global-settings' %}
    {% section 'header' %}
    <main
      id="main"
      class="main"
      role="main"
      tabindex="-1">
      {{ content_for_layout }}
    </main>
    {% section 'v1-footer' %}
    {% section 'sidecart' %}

  </body>
  {% render 'scripts' %}

  <script type="application/json" data-ajax-cart-initial-state>
    {{ cart | json }}
  </script>

  <script type="module">
    import '{{ "liquid-ajax-cart-v1.10.3.js" | asset_url }}';
  </script>

  <script type="application/json" data-ajax-cart-configuration>
    {
    "addToCartCssClass": "js-my-cart-open"
                          }</script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery.counterup@2.1.0/jquery.counterup.min.js"></script>

  <script>
    jQuery(document).ready(function($) {
      $('.counterup').counterUp({
        delay: 400, // the delay time in ms
        time: 2500 // the speed time in ms
      });
    });
  </script>

</html>