<div
  data-animation="default"
  class="navbar w-nav"
  data-easing2="ease"
  fs-scrolldisable-element="smart-nav"
  data-easing="ease"
  data-collapse="medium"
  role="banner"
  data-duration="400">
  <div class="navbar-container">
    <a
      href="{{ routes.root_url }}"
      id="w-node-b9088d66-d0c6-bef0-44e2-882faeba04ea-aeba04e7"
      aria-current="page"
      class="logo-link w-nav-brand w--current"><img
        src="{{ 'logo.svg' | asset_url }}"
        loading="lazy"
        alt=""
        class="navbar-logo"></a>
    <nav
      role="navigation"
      id="w-node-b9088d66-d0c6-bef0-44e2-882faeba04ec-aeba04e7"
      class="middle-links is-page-height-tablet w-nav-menu">
      {% for link in linklists[section.settings.main-menu_desktop].links %}
        <a href="{{link.url}}" class="navbar2_link w-nav-link">{{ link.title }}</a>
      {% endfor %}
    </nav>
    <div id="w-node-b9088d66-d0c6-bef0-44e2-882faeba04f3-aeba04e7" class="navbar-buttons-wrapper">
      {% if section.settings.desktop-search %}
        <a
          data-w-id="b9088d66-d0c6-bef0-44e2-882faeba04f4"
          href="#"
          class="search-btn w-inline-block"><img
            src="{{ 'search.svg' | asset_url }}"
            loading="lazy"
            alt=""></a>
      {% endif %}
      <a
        href="javascript:void(0)"
        data-ajax-cart-toggle-class-button="js-my-cart-open | add"
        class="cart-icon w-inline-block"><img
          src="{{ 'cart.svg' | asset_url }}"
          loading="lazy"
          alt="">
        <div class="div-block" data-ajax-cart-bind-state="cart.item_count">{{ cart.item_count }}</div>
      </a>
    </div>
    <div id="w-node-b9088d66-d0c6-bef0-44e2-882faeba04fa-aeba04e7" class="navbar-buttons-wrapper-mobile">
      <a
        data-w-id="b9088d66-d0c6-bef0-44e2-882faeba04fb"
        href="#"
        class="menu-btn w-inline-block"><img
          src="{{ 'menu-btn-closed-state.svg' | asset_url }}"
          loading="lazy"
          alt=""
          class="closed-state-menu-icon"><img
          src="{{ 'menu-btn-opened-state.svg' | asset_url }}"
          loading="lazy"
          alt=""
          class="opened-state-menu-icon"></a>
    </div>
  </div>
  <div class="mobile-menu-container">
    {% if section.settings.mobile-search %}
      <div class="mobile-menu-search">
        <div class="search-icon"><img
            src="{{ 'search-module-mobile.svg' | asset_url }}"
            loading="lazy"
            alt=""></div>
        <div class="mobile-search-text">{{ 'td2562b' | t }}</div>
      </div>
    {%- endif -%}
    <ul role="list" class="mobile-menu-navigation">
      {% for link in linklists[section.settings.main-menu_mobile].links %}
        <li class="mobile-menu-link">
          <a href="{{link.url}}" style="text-decoration: none; color: var(--color-n19f500b1);">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
    {%- if section.settings.cta_gebied_aanuit -%}
      <div class="menu-cta-area">
        <div class="mobile-cta-inner">
          {%- if section.settings.urge_aanuit -%}
            <div class="cta-urge">
              <div class="urge-icon">
                {%- if section.settings.urge_icon == nil -%}<img
                    src="{{ 'groene-bezorging-1.svg' | asset_url }}"
                    loading="lazy"
                    alt="">{%- else -%}<img
                    src="{{ section.settings.urge_icon.src | img_url: 'master' }}"
                    loading="lazy"
                    alt="{{ section.settings.urge_icon.alt | escape }}"
                    srcset="{{ section.settings.urge_icon | img_url: '1920x' }} 1920w,{{ section.settings.urge_icon | img_url: '1600x' }} 1600w,{{ section.settings.urge_icon | img_url: '1366x' }} 1366w,{{ section.settings.urge_icon | img_url: '1024x' }} 1024w,{{ section.settings.urge_icon | img_url: '768x' }} 768w,{{ section.settings.urge_icon | img_url: '640x' }} 640w">{%- endif -%}
              </div>
              <div>{{ section.settings.urge | newline_to_br }}</div>
            </div>
          {%- endif -%}
          {%- if section.settings.cta_aanuit -%}
            <a href="{{ section.settings.cta_link }}" class="cta-btn w-inline-block">
              <div>{{ section.settings.cta_title | newline_to_br }}</div>
              <div class="arrow"><img
                  src="{{ 'arrow.svg' | asset_url }}"
                  loading="lazy"
                  alt=""></div>
            </a>
          {%- endif -%}
        </div>
      </div>
    {%- endif -%}
  </div>
  <div data-w-id="bc916d55-dea1-1c74-bfec-649bf41b22cc" class="menu-overlay"></div>
</div>
<div class="search-announcement-wrapper">
  {% if section.settings.desktop-search %}
    <div class="search-bar">
      <div class="search-inner-container">
        <div class="left-side-search">
          <a href="#" class="search-trigger-btn w-inline-block"><img
              src="{{ 'search-module.svg' | asset_url }}"
              loading="lazy"
              alt=""></a>
          <div class="text-block">{{ 't17716f2b' | t }}</div>
        </div>
        <a
          data-w-id="b9088d66-d0c6-bef0-44e2-882faeba051e"
          href="#"
          class="close-search-btn w-inline-block"><img
            src="{{ 'close-search.svg' | asset_url }}"
            loading="lazy"
            alt=""
            class="close-search-img-btn"></a>
      </div>
    </div>
  {% endif %}
  <div class="announcements">
    <div class="desktop-announcements-container">
      <div id="w-node-b9088d66-d0c6-bef0-44e2-882faeba0522-aeba04e7" class="left-announcement">
        <div class="announcement-img">
          {{ section.settings.announcment-svg-1 }}
        </div>
        <div>{{ section.settings.announcment-desktop-1 }}</div>
      </div>
      <div id="w-node-b9088d66-d0c6-bef0-44e2-882faeba0526-aeba04e7" class="middle-announcement">
        <div class="announcement-seperator"></div>
        <div class="middle-announcement-inner">
          <div class="announcement-img">
            {{ section.settings.announcment-svg-1 }}
          </div>
          <div>{{ section.settings.announcment-desktop-2 }}</div>
        </div>
        <div class="announcement-seperator"></div>
      </div>
      <div id="w-node-b9088d66-d0c6-bef0-44e2-882faeba052d-aeba04e7" class="right-announcement">
        <div class="announcement-img">
          {{ section.settings.announcment-svg-1 }}
        </div>
        <div>{{ section.settings.announcment-desktop-3 }}</div>
      </div>
    </div>
    <div
      data-delay="4000"
      data-animation="slide"
      class="slider w-slider"
      data-autoplay="true"
      data-easing="ease"
      data-hide-arrows="true"
      data-disable-swipe="false"
      data-autoplay-limit="0"
      data-nav-spacing="3"
      data-duration="200"
      data-infinite="true">
      <div class="w-slider-mask">

        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'announcment-mobile' %}
            <div class="announcement-slide w-slide">
              <div class="announcement">
                <div class="announcement-img">
                  {{ block.settings.mobile-announcment_svg }}
                </div>
                <div>{{ block.settings.mobile-announcment_text }}</div>
              </div>
            </div>
          {% endcase %}
        {% endfor %}

      </div>
      <div class="left-arrow w-slider-arrow-left">
        <div class="icon-2 w-icon-slider-left"></div>
      </div>
      <div class="right-arrow w-slider-arrow-right">
        <div class="icon w-icon-slider-right"></div>
      </div>
      <div class="slide-nav w-slider-nav w-round"></div>
    </div>
  </div>
</div>



<script>
  var currentSection = document.currentScript.closest('.shopify-section');
  currentSection.setAttribute("class", "sticky-nav");
</script>

{% schema %}
  {
    "presets": [
      {
        "name": "Header"
      }
    ],
    "name": "Header",
    "tag": "div",
    "class": "sticky-nav",
    "settings": [
      {
        "type": "textarea",
        "id": "urge",
        "label": "Urge",
        "default": "Vandaag besteld, morgen groen geleverd."
      },
      {
        "type": "textarea",
        "id": "cta_title",
        "label": "CTA Title",
        "default": "Shop het Heatup kussen"
      },
      {
        "type": "image_picker",
        "id": "urge_icon",
        "label": "Urge icon"
      },
      {
        "type": "url",
        "id": "logo_link",
        "label": "Logo link"
      }, {
        "type": "url",
        "id": "cta_link",
        "label": "CTA Link"
      }, {
        "type": "checkbox",
        "id": "search_aanuit",
        "label": "Search aan/uit",
        "default": true
      }, {
        "type": "checkbox",
        "id": "cta_gebied_aanuit",
        "label": "CTA gebied aan/uit",
        "default": true
      }, {
        "type": "checkbox",
        "id": "urge_aanuit",
        "label": "Urge aan/uit",
        "default": true
      }, {
        "type": "checkbox",
        "id": "cta_aanuit",
        "label": "CTA aan/uit",
        "default": true
      }, {
        "type": "checkbox",
        "id": "desktop-search",
        "label": "Desktop Search",
        "default": true
      }, {
        "type": "checkbox",
        "id": "mobile-search",
        "label": "Mobile Search",
        "default": true
      }, {
        "type": "link_list",
        "id": "main-menu_desktop",
        "label": "Main Menu Links"
      }, {
        "type": "link_list",
        "id": "main-menu_mobile",
        "label": "Main Menu Mobile Links"
      }, {
        "type": "richtext",
        "id": "announcment-desktop-1",
        "label": "Announcment Desktop 1"
      }, {
        "type": "richtext",
        "id": "announcment-desktop-2",
        "label": "Announcment Desktop 2"
      }, {
        "type": "richtext",
        "id": "announcment-desktop-3",
        "label": "Announcment Desktop 3"
      }, {
        "type": "html",
        "id": "announcment-svg-1",
        "label": "Announcment SVG 1"
      }, {
        "type": "html",
        "id": "announcment-svg-2",
        "label": "Announcment SVG 2"
      }, {
        "type": "html",
        "id": "announcment-svg-3",
        "label": "Announcment SVG 3"
      }
    ],
    "blocks": [
      {
        "type": "announcment-mobile",
        "name": "Mobile Announcment",
        "settings": [
          {
            "type": "richtext",
            "id": "mobile-announcment_text",
            "label": "Announcment Text"
          }, {
            "type": "html",
            "id": "mobile-announcment_svg",
            "label": "Announcment SVG"
          }
        ]
      }
    ]
  }
{% endschema %}