<div class="page-padding">
  <div class="container-v1 vertical">
    <div class="left-aligned-header">
      <h1 class="h1-section">{{ section.settings.titel | newline_to_br }}</h1>
      <p>{{ section.settings.paragraph | newline_to_br }}</p>
    </div>
    <div class="testimonial-swiper-component">
      <div id="review-swiper" class="swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
        <div class="swiper-wrapper">
          {%- for block in section.blocks -%}
            {%- if block.type == "review" -%}
              <div class="swiper-slide" block.shopify_attributes>
                <div class="review-slide">
                  <div class="swiper-inner-container">
                    <div class="testimonial-stars">

                      {% if block.settings.stars == "5" %}
                        <svg
                          width="96"
                          height="14"
                          viewBox="0 0 96 14"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_430_3779)">
                            <path d="M6.4611 0.540163C6.70595 -0.0316173 7.53987 -0.0316166 7.78471 0.540164L9.22978 3.91491C9.33306 4.15596 9.56646 4.32066 9.83436 4.34152L13.5853 4.63361C14.2208 4.6831 14.4785 5.45344 13.9943 5.85631L11.1365 8.23407C10.9324 8.40393 10.8432 8.67044 10.9056 8.92435L11.7787 12.4796C11.9266 13.082 11.252 13.5581 10.7079 13.2353L7.49653 11.3301C7.26715 11.194 6.97867 11.194 6.74929 11.3301L3.53794 13.2353C2.99384 13.5581 2.31919 13.082 2.46711 12.4796L3.34023 8.92435C3.4026 8.67044 3.31345 8.40393 3.10933 8.23407L0.251483 5.85631C-0.232718 5.45344 0.0249785 4.6831 0.660501 4.63361L4.41147 4.34152C4.67939 4.32066 4.91278 4.15596 5.016 3.91491L6.4611 0.540163Z" fill="black" />
                            <path d="M26.9881 0.540163C27.2329 -0.0316173 28.0668 -0.0316166 28.3117 0.540164L29.7568 3.91491C29.86 4.15596 30.0934 4.32066 30.3613 4.34152L34.1123 4.63361C34.7478 4.6831 35.0055 5.45344 34.5213 5.85631L31.6635 8.23407C31.4594 8.40393 31.3702 8.67044 31.4325 8.92435L32.3057 12.4796C32.4536 13.082 31.779 13.5581 31.2348 13.2353L28.0235 11.3301C27.7941 11.194 27.5056 11.194 27.2763 11.3301L24.0649 13.2353C23.5208 13.5581 22.8462 13.082 22.9941 12.4796L23.8672 8.92435C23.9296 8.67044 23.8404 8.40393 23.6363 8.23407L20.7785 5.85631C20.2943 5.45344 20.552 4.6831 21.1875 4.63361L24.9384 4.34152C25.2064 4.32066 25.4398 4.15596 25.543 3.91491L26.9881 0.540163Z" fill="black" />
                            <path d="M47.0537 0.540163C47.281 -0.0316173 48.0554 -0.0316166 48.2827 0.540164L49.6246 3.91491C49.7205 4.15596 49.9372 4.32066 50.186 4.34152L53.669 4.63361C54.2591 4.6831 54.4984 5.45344 54.0488 5.85631L51.3951 8.23407C51.2056 8.40393 51.1228 8.67044 51.1807 8.92435L51.9914 12.4796C52.1288 13.082 51.5023 13.5581 50.9971 13.2353L48.0151 11.3301C47.8021 11.194 47.5343 11.194 47.3213 11.3301L44.3393 13.2353C43.8341 13.5581 43.2076 13.082 43.345 12.4796L44.1557 8.92435C44.2136 8.67044 44.1309 8.40393 43.9413 8.23407L41.2876 5.85631C40.838 5.45344 41.0773 4.6831 41.6674 4.63361L45.1504 4.34152C45.3992 4.32066 45.6159 4.15596 45.7118 3.91491L47.0537 0.540163Z" fill="black" />
                            <path d="M67.0246 0.540163C67.2694 -0.0316173 68.1033 -0.0316166 68.3482 0.540164L69.7933 3.91491C69.8965 4.15596 70.1299 4.32066 70.3978 4.34152L74.1488 4.63361C74.7843 4.6831 75.042 5.45344 74.5578 5.85631L71.7 8.23407C71.4959 8.40393 71.4067 8.67044 71.469 8.92435L72.3422 12.4796C72.4901 13.082 71.8155 13.5581 71.2713 13.2353L68.06 11.3301C67.8306 11.194 67.5421 11.194 67.3128 11.3301L64.1014 13.2353C63.5573 13.5581 62.8827 13.082 63.0306 12.4796L63.9037 8.92435C63.9661 8.67044 63.8769 8.40393 63.6728 8.23407L60.815 5.85631C60.3308 5.45344 60.5885 4.6831 61.224 4.63361L64.9749 4.34152C65.2429 4.32066 65.4763 4.15596 65.5795 3.91491L67.0246 0.540163Z" fill="black" />
                            <path d="M87.5517 0.540163C87.7965 -0.0316173 88.6304 -0.0316166 88.8753 0.540164L90.3204 3.91491C90.4236 4.15596 90.657 4.32066 90.9249 4.34152L94.6759 4.63361C95.3114 4.6831 95.5691 5.45344 95.0849 5.85631L92.2271 8.23407C92.023 8.40393 91.9338 8.67044 91.9961 8.92435L92.8693 12.4796C93.0172 13.082 92.3426 13.5581 91.7984 13.2353L88.5871 11.3301C88.3577 11.194 88.0692 11.194 87.8399 11.3301L84.6285 13.2353C84.0844 13.5581 83.4098 13.082 83.5577 12.4796L84.4308 8.92435C84.4932 8.67044 84.404 8.40393 84.1999 8.23407L81.3421 5.85631C80.8579 5.45344 81.1156 4.6831 81.7511 4.63361L85.502 4.34152C85.77 4.32066 86.0034 4.15596 86.1066 3.91491L87.5517 0.540163Z" fill="black" />
                          </g>
                          <defs>
                            <clipPath id="clip0_430_3779">
                              <rect
                                width="95.3364"
                                height="13.2282"
                                fill="white"
                                transform="translate(0 0.111328)" />
                            </clipPath>
                          </defs>
                        </svg>
                      {% elsif block.settings.stars == "4" %}
                        <svg
                          width="75"
                          height="14"
                          viewBox="0 0 75 14"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_430_3779)">
                            <path d="M6.4611 0.540163C6.70595 -0.0316173 7.53987 -0.0316166 7.78471 0.540164L9.22978 3.91491C9.33306 4.15596 9.56646 4.32066 9.83436 4.34152L13.5853 4.63361C14.2208 4.6831 14.4785 5.45344 13.9943 5.85631L11.1365 8.23407C10.9324 8.40393 10.8432 8.67044 10.9056 8.92435L11.7787 12.4796C11.9266 13.082 11.252 13.5581 10.7079 13.2353L7.49653 11.3301C7.26714 11.194 6.97867 11.194 6.74929 11.3301L3.53794 13.2353C2.99384 13.5581 2.31919 13.082 2.46711 12.4796L3.34023 8.92435C3.4026 8.67044 3.31345 8.40393 3.10933 8.23407L0.251483 5.85631C-0.232718 5.45344 0.0249785 4.6831 0.660501 4.63361L4.41147 4.34152C4.67939 4.32066 4.91278 4.15596 5.016 3.91491L6.4611 0.540163Z" fill="black" />
                            <path d="M26.9881 0.540163C27.2329 -0.0316173 28.0668 -0.0316166 28.3117 0.540164L29.7568 3.91491C29.86 4.15596 30.0934 4.32066 30.3613 4.34152L34.1123 4.63361C34.7478 4.6831 35.0055 5.45344 34.5213 5.85631L31.6635 8.23407C31.4594 8.40393 31.3702 8.67044 31.4325 8.92435L32.3057 12.4796C32.4536 13.082 31.779 13.5581 31.2348 13.2353L28.0235 11.3301C27.7941 11.194 27.5056 11.194 27.2763 11.3301L24.0649 13.2353C23.5208 13.5581 22.8462 13.082 22.9941 12.4796L23.8672 8.92435C23.9296 8.67044 23.8404 8.40393 23.6363 8.23407L20.7785 5.85631C20.2943 5.45344 20.552 4.6831 21.1875 4.63361L24.9384 4.34152C25.2064 4.32066 25.4398 4.15596 25.543 3.91491L26.9881 0.540163Z" fill="black" />
                            <path d="M47.0537 0.540163C47.281 -0.0316173 48.0554 -0.0316166 48.2827 0.540164L49.6246 3.91491C49.7205 4.15596 49.9372 4.32066 50.186 4.34152L53.669 4.63361C54.2591 4.6831 54.4984 5.45344 54.0488 5.85631L51.3951 8.23407C51.2056 8.40393 51.1228 8.67044 51.1807 8.92435L51.9914 12.4796C52.1288 13.082 51.5023 13.5581 50.9971 13.2353L48.0151 11.3301C47.8021 11.194 47.5343 11.194 47.3213 11.3301L44.3393 13.2353C43.8341 13.5581 43.2076 13.082 43.345 12.4796L44.1557 8.92435C44.2136 8.67044 44.1309 8.40393 43.9413 8.23407L41.2876 5.85631C40.838 5.45344 41.0773 4.6831 41.6674 4.63361L45.1504 4.34152C45.3992 4.32066 45.6159 4.15596 45.7118 3.91491L47.0537 0.540163Z" fill="black" />
                            <path d="M67.0246 0.540163C67.2694 -0.0316173 68.1033 -0.0316166 68.3482 0.540164L69.7933 3.91491C69.8965 4.15596 70.1299 4.32066 70.3978 4.34152L74.1488 4.63361C74.7843 4.6831 75.042 5.45344 74.5578 5.85631L71.7 8.23407C71.4959 8.40393 71.4067 8.67044 71.469 8.92435L72.3422 12.4796C72.4901 13.082 71.8155 13.5581 71.2713 13.2353L68.06 11.3301C67.8306 11.194 67.5421 11.194 67.3128 11.3301L64.1014 13.2353C63.5573 13.5581 62.8827 13.082 63.0306 12.4796L63.9037 8.92435C63.9661 8.67044 63.8769 8.40393 63.6728 8.23407L60.815 5.85631C60.3308 5.45344 60.5885 4.6831 61.224 4.63361L64.9749 4.34152C65.2429 4.32066 65.4763 4.15596 65.5795 3.91491L67.0246 0.540163Z" fill="black" />
                          </g>
                          <defs>
                            <clipPath id="clip0_430_3779">
                              <rect
                                width="74.8093"
                                height="13.2282"
                                fill="white"
                                transform="translate(0 0.111328)" />
                            </clipPath>
                          </defs>
                        </svg>
                      {% elsif block.settings.stars == "3" %}
                        <svg
                          width="55"
                          height="14"
                          viewBox="0 0 55 14"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_430_3779)">
                            <path d="M6.4611 0.540163C6.70595 -0.0316173 7.53987 -0.0316166 7.78471 0.540164L9.22978 3.91491C9.33306 4.15596 9.56646 4.32066 9.83436 4.34152L13.5853 4.63361C14.2208 4.6831 14.4785 5.45344 13.9943 5.85631L11.1365 8.23407C10.9324 8.40393 10.8432 8.67044 10.9056 8.92435L11.7787 12.4796C11.9266 13.082 11.252 13.5581 10.7079 13.2353L7.49653 11.3301C7.26714 11.194 6.97867 11.194 6.74929 11.3301L3.53794 13.2353C2.99384 13.5581 2.31919 13.082 2.46711 12.4796L3.34023 8.92435C3.4026 8.67044 3.31345 8.40393 3.10933 8.23407L0.251483 5.85631C-0.232718 5.45344 0.0249785 4.6831 0.660501 4.63361L4.41147 4.34152C4.67939 4.32066 4.91278 4.15596 5.016 3.91491L6.4611 0.540163Z" fill="black" />
                            <path d="M26.9881 0.540163C27.2329 -0.0316173 28.0668 -0.0316166 28.3117 0.540164L29.7568 3.91491C29.86 4.15596 30.0934 4.32066 30.3613 4.34152L34.1123 4.63361C34.7478 4.6831 35.0055 5.45344 34.5213 5.85631L31.6635 8.23407C31.4594 8.40393 31.3702 8.67044 31.4325 8.92435L32.3057 12.4796C32.4536 13.082 31.779 13.5581 31.2348 13.2353L28.0235 11.3301C27.7941 11.194 27.5056 11.194 27.2763 11.3301L24.0649 13.2353C23.5208 13.5581 22.8462 13.082 22.9941 12.4796L23.8672 8.92435C23.9296 8.67044 23.8404 8.40393 23.6363 8.23407L20.7785 5.85631C20.2943 5.45344 20.552 4.6831 21.1875 4.63361L24.9384 4.34152C25.2064 4.32066 25.4398 4.15596 25.543 3.91491L26.9881 0.540163Z" fill="black" />
                            <path d="M47.0537 0.540163C47.281 -0.0316173 48.0554 -0.0316166 48.2827 0.540164L49.6246 3.91491C49.7205 4.15596 49.9372 4.32066 50.186 4.34152L53.669 4.63361C54.2591 4.6831 54.4984 5.45344 54.0488 5.85631L51.3951 8.23407C51.2056 8.40393 51.1228 8.67044 51.1807 8.92435L51.9914 12.4796C52.1288 13.082 51.5023 13.5581 50.9971 13.2353L48.0151 11.3301C47.8021 11.194 47.5343 11.194 47.3213 11.3301L44.3393 13.2353C43.8341 13.5581 43.2076 13.082 43.345 12.4796L44.1557 8.92435C44.2136 8.67044 44.1309 8.40393 43.9413 8.23407L41.2876 5.85631C40.838 5.45344 41.0773 4.6831 41.6674 4.63361L45.1504 4.34152C45.3992 4.32066 45.6159 4.15596 45.7118 3.91491L47.0537 0.540163Z" fill="black" />
                          </g>
                          <defs>
                            <clipPath id="clip0_430_3779">
                              <rect
                                width="54.2823"
                                height="13.2282"
                                fill="white"
                                transform="translate(0 0.111328)" />
                            </clipPath>
                          </defs>
                        </svg>
                      {% endif %}


                      {% if block.settings.stars == "4.5" %}
                        <svg
                          width="96"
                          height="14"
                          viewBox="0 0 96 14"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_430_3779)">
                            <path d="M6.4611 0.540163C6.70595 -0.0316173 7.53987 -0.0316166 7.78471 0.540164L9.22978 3.91491C9.33306 4.15596 9.56646 4.32066 9.83436 4.34152L13.5853 4.63361C14.2208 4.6831 14.4785 5.45344 13.9943 5.85631L11.1365 8.23407C10.9324 8.40393 10.8432 8.67044 10.9056 8.92435L11.7787 12.4796C11.9266 13.082 11.252 13.5581 10.7079 13.2353L7.49653 11.3301C7.26714 11.194 6.97867 11.194 6.74929 11.3301L3.53794 13.2353C2.99384 13.5581 2.31919 13.082 2.46711 12.4796L3.34023 8.92435C3.4026 8.67044 3.31345 8.40393 3.10933 8.23407L0.251483 5.85631C-0.232718 5.45344 0.0249785 4.6831 0.660501 4.63361L4.41147 4.34152C4.67939 4.32066 4.91278 4.15596 5.016 3.91491L6.4611 0.540163Z" fill="black" />
                            <path d="M26.9881 0.540163C27.2329 -0.0316173 28.0668 -0.0316166 28.3117 0.540164L29.7568 3.91491C29.86 4.15596 30.0934 4.32066 30.3613 4.34152L34.1123 4.63361C34.7478 4.6831 35.0055 5.45344 34.5213 5.85631L31.6635 8.23407C31.4594 8.40393 31.3702 8.67044 31.4325 8.92435L32.3057 12.4796C32.4536 13.082 31.779 13.5581 31.2348 13.2353L28.0235 11.3301C27.7941 11.194 27.5056 11.194 27.2763 11.3301L24.0649 13.2353C23.5208 13.5581 22.8462 13.082 22.9941 12.4796L23.8672 8.92435C23.9296 8.67044 23.8404 8.40393 23.6363 8.23407L20.7785 5.85631C20.2943 5.45344 20.552 4.6831 21.1875 4.63361L24.9384 4.34152C25.2064 4.32066 25.4398 4.15596 25.543 3.91491L26.9881 0.540163Z" fill="black" />
                            <path d="M47.0537 0.540163C47.281 -0.0316173 48.0554 -0.0316166 48.2827 0.540164L49.6246 3.91491C49.7205 4.15596 49.9372 4.32066 50.186 4.34152L53.669 4.63361C54.2591 4.6831 54.4984 5.45344 54.0488 5.85631L51.3951 8.23407C51.2056 8.40393 51.1228 8.67044 51.1807 8.92435L51.9914 12.4796C52.1288 13.082 51.5023 13.5581 50.9971 13.2353L48.0151 11.3301C47.8021 11.194 47.5343 11.194 47.3213 11.3301L44.3393 13.2353C43.8341 13.5581 43.2076 13.082 43.345 12.4796L44.1557 8.92435C44.2136 8.67044 44.1309 8.40393 43.9413 8.23407L41.2876 5.85631C40.838 5.45344 41.0773 4.6831 41.6674 4.63361L45.1504 4.34152C45.3992 4.32066 45.6159 4.15596 45.7118 3.91491L47.0537 0.540163Z" fill="black" />
                            <path d="M67.0246 0.540163C67.2694 -0.0316173 68.1033 -0.0316166 68.3482 0.540164L69.7933 3.91491C69.8965 4.15596 70.1299 4.32066 70.3978 4.34152L74.1488 4.63361C74.7843 4.6831 75.042 5.45344 74.5578 5.85631L71.7 8.23407C71.4959 8.40393 71.4067 8.67044 71.469 8.92435L72.3422 12.4796C72.4901 13.082 71.8155 13.5581 71.2713 13.2353L68.06 11.3301C67.8306 11.194 67.5421 11.194 67.3128 11.3301L64.1014 13.2353C63.5573 13.5581 62.8827 13.082 63.0306 12.4796L63.9037 8.92435C63.9661 8.67044 63.8769 8.40393 63.6728 8.23407L60.815 5.85631C60.3308 5.45344 60.5885 4.6831 61.224 4.63361L64.9749 4.34152C65.2429 4.32066 65.4763 4.15596 65.5795 3.91491L67.0246 0.540163Z" fill="black" />
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M95.2602 5.03364L95.317 5.20769C95.3637 5.33906 95.3244 5.48506 95.2176 5.57668L91.7654 8.46598L92.7882 12.7964C92.8228 12.9348 92.7697 13.0801 92.6532 13.1654L92.497 13.2699C92.4363 13.3165 92.361 13.3411 92.2839 13.3395C92.2188 13.3408 92.1548 13.3239 92.0992 13.2907L88.2137 10.9723L84.3495 13.2907C84.2939 13.3239 84.2298 13.3408 84.1648 13.3395C84.0877 13.3411 84.0124 13.3165 83.9517 13.2699L83.7741 13.1654C83.6576 13.0801 83.6045 12.9348 83.6391 12.7964L84.662 8.46598L81.2169 5.58365C81.1045 5.49257 81.062 5.34251 81.1103 5.20769L81.1885 5.03364C81.23 4.89608 81.3549 4.7987 81.501 4.78996L86.0401 4.43489L87.7804 0.334194C87.8361 0.198011 87.9716 0.109479 88.1213 0.111406H88.306C88.4544 0.10832 88.5884 0.197769 88.6398 0.334194L90.4086 4.43489L94.9477 4.78996C95.0938 4.7987 95.2186 4.89608 95.2602 5.03364ZM91.1403 11.2926L90.3447 8.03433L92.9516 5.85517L89.5349 5.59061L88.2137 2.4855V9.54511L91.1403 11.2926Z"
                              fill="black" />
                          </g>
                          <defs>
                            <clipPath id="clip0_430_3779">
                              <rect
                                width="95.3364"
                                height="13.2282"
                                fill="white"
                                transform="translate(0 0.111328)" />
                            </clipPath>
                          </defs>
                        </svg>

                      {% elsif block.settings.stars == "3.5" %}
                        <svg
                          width="75"
                          height="14"
                          viewBox="0 0 75 14"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_430_3779)">
                            <path d="M6.4611 0.540163C6.70595 -0.0316173 7.53987 -0.0316166 7.78471 0.540164L9.22978 3.91491C9.33306 4.15596 9.56646 4.32066 9.83436 4.34152L13.5853 4.63361C14.2208 4.6831 14.4785 5.45344 13.9943 5.85631L11.1365 8.23407C10.9324 8.40393 10.8432 8.67044 10.9056 8.92435L11.7787 12.4796C11.9266 13.082 11.252 13.5581 10.7079 13.2353L7.49653 11.3301C7.26714 11.194 6.97867 11.194 6.74929 11.3301L3.53794 13.2353C2.99384 13.5581 2.31919 13.082 2.46711 12.4796L3.34023 8.92435C3.4026 8.67044 3.31345 8.40393 3.10933 8.23407L0.251483 5.85631C-0.232718 5.45344 0.0249785 4.6831 0.660501 4.63361L4.41147 4.34152C4.67939 4.32066 4.91278 4.15596 5.016 3.91491L6.4611 0.540163Z" fill="black" />
                            <path d="M26.9881 0.540163C27.2329 -0.0316173 28.0668 -0.0316166 28.3117 0.540164L29.7568 3.91491C29.86 4.15596 30.0934 4.32066 30.3613 4.34152L34.1123 4.63361C34.7478 4.6831 35.0055 5.45344 34.5213 5.85631L31.6635 8.23407C31.4594 8.40393 31.3702 8.67044 31.4325 8.92435L32.3057 12.4796C32.4536 13.082 31.779 13.5581 31.2348 13.2353L28.0235 11.3301C27.7941 11.194 27.5056 11.194 27.2763 11.3301L24.0649 13.2353C23.5208 13.5581 22.8462 13.082 22.9941 12.4796L23.8672 8.92435C23.9296 8.67044 23.8404 8.40393 23.6363 8.23407L20.7785 5.85631C20.2943 5.45344 20.552 4.6831 21.1875 4.63361L24.9384 4.34152C25.2064 4.32066 25.4398 4.15596 25.543 3.91491L26.9881 0.540163Z" fill="black" />
                            <path d="M47.0537 0.540163C47.281 -0.0316173 48.0554 -0.0316166 48.2827 0.540164L49.6246 3.91491C49.7205 4.15596 49.9372 4.32066 50.186 4.34152L53.669 4.63361C54.2591 4.6831 54.4984 5.45344 54.0488 5.85631L51.3951 8.23407C51.2056 8.40393 51.1228 8.67044 51.1807 8.92435L51.9914 12.4796C52.1288 13.082 51.5023 13.5581 50.9971 13.2353L48.0151 11.3301C47.8021 11.194 47.5343 11.194 47.3213 11.3301L44.3393 13.2353C43.8341 13.5581 43.2076 13.082 43.345 12.4796L44.1557 8.92435C44.2136 8.67044 44.1309 8.40393 43.9413 8.23407L41.2876 5.85631C40.838 5.45344 41.0773 4.6831 41.6674 4.63361L45.1504 4.34152C45.3992 4.32066 45.6159 4.15596 45.7118 3.91491L47.0537 0.540163Z" fill="black" />
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M74.7331 5.03364L74.7899 5.20769C74.8366 5.33906 74.7973 5.48506 74.6905 5.57668L71.2383 8.46598L72.2611 12.7964C72.2957 12.9348 72.2426 13.0801 72.1261 13.1654L71.9699 13.2699C71.9092 13.3165 71.8339 13.3411 71.7568 13.3395C71.6917 13.3408 71.6277 13.3239 71.5721 13.2907L67.6866 10.9723L63.8224 13.2907C63.7668 13.3239 63.7027 13.3408 63.6377 13.3395C63.5606 13.3411 63.4853 13.3165 63.4246 13.2699L63.247 13.1654C63.1305 13.0801 63.0774 12.9348 63.112 12.7964L64.1349 8.46598L60.6898 5.58365C60.5774 5.49257 60.5349 5.34251 60.5832 5.20769L60.6614 5.03364C60.7029 4.89608 60.8278 4.7987 60.9739 4.78996L65.513 4.43489L67.2533 0.334194C67.309 0.198011 67.4445 0.109479 67.5942 0.111406H67.7789C67.9273 0.10832 68.0613 0.197769 68.1128 0.334194L69.8815 4.43489L74.4206 4.78996C74.5667 4.7987 74.6915 4.89608 74.7331 5.03364ZM70.6132 11.2926L69.8176 8.03433L72.4245 5.85517L69.0078 5.59061L67.6866 2.4855V9.54511L70.6132 11.2926Z"
                              fill="black" />
                          </g>
                          <defs>
                            <clipPath id="clip0_430_3779">
                              <rect
                                width="74.8093"
                                height="13.2282"
                                fill="white"
                                transform="translate(0 0.111328)" />
                            </clipPath>
                          </defs>
                        </svg>
                      {% endif %}


                    </div>
                    <div class="testimonial-title">{{ block.settings.titel | newline_to_br }}</div>
                    <div class="testimonial-paragraph">{{ block.settings.paragraph | newline_to_br }}</div>
                  </div>
                  <div class="testimonial-trust">
                    <div class="testimonial-identity">
                      <div class="testimonial-person">{{ block.settings.reviewer | newline_to_br }}</div>
                      <div class="testimonial-verified">
                        <div class="testimonial-check"><img
                            src="{{ 'check.svg' | asset_url }}"
                            loading="lazy"
                            alt=""></div>
                        <div>{{ block.settings.text_naast_checkmark | newline_to_br }}</div>
                      </div>
                    </div>
                    <div class="testimonial-image"><img
                        src="{{ block.settings.testimonial-image | img_url: 'master' }}"
                        loading="lazy"
                        sizes="48px"
                        srcset="{{ block.settings.testimonial-image | img_url: 'master' }} 500w, {{ block.settings.testimonial-image | img_url: 'master' }} 594w"
                        alt=""
                        class="testimonial-img"></div>
                  </div>
                </div>
              </div>
            {%- endif -%}
          {%- endfor -%}
        </div>
        <div class="slider-arrow-container-relative">
          <div id="review-prev-arrow" class="slider-arrow"><img
              src="{{ 'arrow-right.svg' | asset_url }}"
              loading="lazy"
              alt=""
              class="arrow-swipe"></div>
          <div id="review-next-arrow" class="slider-arrow"><img
              src="{{ 'right-arrow.svg' | asset_url }}"
              loading="lazy"
              alt=""
              class="arrow-swipe"></div>
        </div>
      </div>
    </div>
  </div>
</div>



<script>
  var currentSection = document.currentScript.closest('.shopify-section');
  currentSection.setAttribute("class", "testimonials");
</script>

{% schema %}
  {
    "presets": [
      {
        "name": "V1 - Beoordelingen"
      }
    ],
    "name": "V1 - Beoordelingen",
    "tag": "div",
    "class": "testimonials",
    "settings": [
      {
        "type": "textarea",
        "id": "titel",
        "label": "Titel",
        "default": "Klanten houden van Heatup."
      }, {
        "type": "textarea",
        "id": "paragraph",
        "label": "Paragraph",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      }
    ],
    "blocks": [
      {
        "name": "Review",
        "type": "review",
        "settings": [
          {
            "type": "textarea",
            "id": "titel",
            "label": "Titel",
            "default": "Customizable Comfort Settings"
          },
          {
            "type": "textarea",
            "id": "paragraph",
            "label": "Paragraph",
            "default": "Als huismoeder heb ik altijd koude voeten en handen, maar sinds ik dit warmtekussen heb is dat verleden tijd! Het is zo snel opgewarmd en houdt de warmte zo goed vast. Het is ook zo fijn dat het veilig is dankzij de beveiliging tegen oververhitting. Een echte aanrader voor elke huismoeder die op zoek is naar een veilige en efficiënte manier om warm te blijven!"
          },
          {
            "type": "textarea",
            "id": "reviewer",
            "label": "Reviewer",
            "default": "Marieke van der Meer"
          },
          {
            "type": "textarea",
            "id": "text_naast_checkmark",
            "label": "Text naast checkmark",
            "default": "Geverifiëerd"
          }, {
            "type": "image_picker",
            "label": "Testimonial Image",
            "id": "testimonial-image"
          }, {
            "type": "text",
            "id": "stars",
            "label": "Review Stars"
          }
        ]
      }
    ]
  }
{% endschema %}