<div class="cart-hero-section">
    <div class="page-padding-3">
      <div class="container-v1-2">
        <div class="cart-grid">
          <div id="w-node-_27579e6b-596f-2e7a-7839-f7e2cdf9ebca-cdf9ebc6" class="cart-block">
            <div class="cart-list">
              <div class="shopping-item">
                <div class="shopping-item-inner">
                  <div class="shopping-item-left"><img src="{{ 'product-image.png' | asset_url }}" loading="lazy" alt="" class="shopping-item-image">
                    <div class="shopping-item-details">
                      <div class="shopping-item-title">{{ 't18d94975' | t }}</div>
                      <div class="shopping-item-variant-info">{{ 'tn5e1bfe36' | t }}</div>
                      <div class="add-shopping-grid">
                        <a data-ajax-cart-request-button="" href="#" class="remove-shopping-button w-inline-block"><img src="{{ 'minus.svg' | asset_url }}" loading="lazy" alt=""></a>
                        <div id="w-node-_27579e6b-596f-2e7a-7839-f7e2cdf9ebd8-cdf9ebc6" class="quantity-inside-sidecart">{{ 't32' | t }}</div>
                        <a data-ajax-cart-request-button="" href="#" class="add-shopping-button w-inline-block"><img src="{{ 'plus.svg' | asset_url }}" loading="lazy" alt=""></a>
                      </div>
                    </div>
                  </div>
                  <div class="shopping-total-item-price-wrapper">
                    <div class="shopping-total-item-price">{{ 'tn3c2cc404' | t }}</div>
                    <div class="shopping-before-item-price">{{ 'tn570cc8bd' | t }}</div>
                  </div>
                </div>
                <a href="#" class="shopping-item-remove-button w-inline-block"><img src="{{ 'ic24-close.svg' | asset_url }}" loading="lazy" alt="" class="close-btn-img"></a>
              </div>
            </div>
          </div>
          <div id="w-node-_27579e6b-596f-2e7a-7839-f7e2cdf9ebe3-cdf9ebc6" class="cart-form-box">
            <div class="cart-form-headline">
              <div class="text-xxl cart-heading text-bold">{{ 'tn6698144b' | t }}<span class="light-grey">{{ 't3313c11e' | t }}</span></div>
            </div>
            <div class="cart-form-div desktop">
              <div class="slidebar-info">
                <div class="amount-bar-container">
                  <div class="amount-bar"></div>
                </div>
                <div class="text-m text-bold black">{{ 't6a2ee5df' | t }}<strong>{{ 'tn3c91ae66' | t }}</strong>{{ 't55f6d8d8' | t }}</div>
              </div>
              <div class="cart-form-block">
                <div class="cart-details">
                  <div class="text-s text-bold _24-line-height">{{ 'tn45bf5ec2' | t }}</div>
                  <div class="text-s text-bold _24-line-height">{{ 'tn337fc5c0' | t }}</div>
                </div>
                <div class="cart-details">
                  <div class="text-s text-bold _24-line-height">{{ 'tn6a56878d' | t }}</div>
                  <div class="cart-total-price-wrapper">
                    <div class="text-s text-bold _24-line-height">{{ 'tndd256fe' | t }}</div>
                  </div>
                </div>
                <a href="#" class="cta-primairy even w-inline-block">
                  <div>{{ 'tn4ac247ab' | t }}</div>
                </a>
                <div class="cart-payment-methods"><img src="https://uploads-ssl.webflow.com/63222613b5f8be325af4b7d9/632387ae9a1fa965d8ffd903_Group%20300.svg" loading="lazy" alt="" class="cart-payment-icon"><img src="https://uploads-ssl.webflow.com/63222613b5f8be325af4b7d9/632387b1ffc1bf4cbf8b9230_Group%20319.svg" loading="lazy" alt="" class="cart-payment-icon"><img src="https://uploads-ssl.webflow.com/63222613b5f8be325af4b7d9/632387b2828f520038ae179a_Group%20318.svg" loading="lazy" alt="" class="cart-payment-icon"><img src="https://uploads-ssl.webflow.com/63222613b5f8be325af4b7d9/632387ff60b8e3f33e667322_mastercard.svg" loading="lazy" alt="" class="cart-payment-icon"><img src="https://uploads-ssl.webflow.com/63222613b5f8be325af4b7d9/632387b00b1bec630a4d76c7_Group%20315.svg" loading="lazy" alt="" class="cart-payment-icon"><img src="https://uploads-ssl.webflow.com/63222613b5f8be325af4b7d9/632387afaa6ad7e9bb733cac_Group%20314.svg" loading="lazy" alt="" class="cart-payment-icon"><img src="https://uploads-ssl.webflow.com/63222613b5f8be325af4b7d9/632387af0b1bec8c754d76bf_Group%20313.svg" loading="lazy" alt="" class="cart-payment-icon"><img src="https://uploads-ssl.webflow.com/63222613b5f8be325af4b7d9/632387ae0e4006749166ee1c_Group%20310.svg" loading="lazy" alt="" class="payment-icon-2"></div>
              </div>
            </div>
          </div>
          <div class="cart-form-div mobile">
            <div class="slidebar-info">
              <div class="amount-bar-container">
                <div class="amount-bar"></div>
              </div>
              <div class="text-m text-bold black _14">{{ 't6a2ee5df' | t }}<strong>{{ 'tn3c91ae66' | t }}</strong>{{ 't55f6d8d8' | t }}</div>
            </div>
            <div class="cart-form-block">
              <div class="cart-details">
                <div class="text-s text-bold _24-line-height">{{ 'tn45bf5ec2' | t }}</div>
                <div class="text-s text-bold _24-line-height">{{ 'tn337fc5c0' | t }}</div>
              </div>
              <div class="cart-details">
                <div class="text-s text-bold _24-line-height">{{ 'tn6a56878d' | t }}</div>
                <div class="cart-total-price-wrapper">
                  <div class="text-s text-bold _24-line-height">{{ 'tndd256fe' | t }}</div>
                </div>
              </div>
              <a href="#" class="cta-primairy even w-inline-block">
                <div>{{ 'tn4ac247ab' | t }}</div>
              </a>
              <div class="cart-payment-methods"><img src="https://uploads-ssl.webflow.com/63222613b5f8be325af4b7d9/632387ae9a1fa965d8ffd903_Group%20300.svg" loading="lazy" alt="" class="cart-payment-icon"><img src="https://uploads-ssl.webflow.com/63222613b5f8be325af4b7d9/632387b1ffc1bf4cbf8b9230_Group%20319.svg" loading="lazy" alt="" class="cart-payment-icon"><img src="https://uploads-ssl.webflow.com/63222613b5f8be325af4b7d9/632387b2828f520038ae179a_Group%20318.svg" loading="lazy" alt="" class="cart-payment-icon"><img src="https://uploads-ssl.webflow.com/63222613b5f8be325af4b7d9/632387ff60b8e3f33e667322_mastercard.svg" loading="lazy" alt="" class="cart-payment-icon"><img src="https://uploads-ssl.webflow.com/63222613b5f8be325af4b7d9/632387b00b1bec630a4d76c7_Group%20315.svg" loading="lazy" alt="" class="cart-payment-icon"><img src="https://uploads-ssl.webflow.com/63222613b5f8be325af4b7d9/632387afaa6ad7e9bb733cac_Group%20314.svg" loading="lazy" alt="" class="cart-payment-icon"><img src="https://uploads-ssl.webflow.com/63222613b5f8be325af4b7d9/632387af0b1bec8c754d76bf_Group%20313.svg" loading="lazy" alt="" class="cart-payment-icon"><img src="https://uploads-ssl.webflow.com/63222613b5f8be325af4b7d9/632387ae0e4006749166ee1c_Group%20310.svg" loading="lazy" alt="" class="payment-icon-2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>