<div class="page-padding">
  <div class="container-v1 vertical" x-data="featuredApp()">
    <div class="heading-container _2">
      <h1 class="h1-section">{{ section.settings.titel | newline_to_br }}</h1>
      <p>{{ section.settings.paragraph | newline_to_br }}</p>
    </div>
    <div class="featured-products">

      {% for product in section.settings.swiper-products %}
        {% assign productId = product.id %}
        <div class="featured-product important">
          <div class="featured-desktop-product-image"><img
              src="{{ 'product-image.png' | asset_url }}"
              loading="lazy"
              alt=""
              class="img-cover-absolute">
            <div class="home-product-label desktop-only">{{ 'tn1b387fb5' | t }}</div>
          </div>
          <div class="home-desktop-product-title">
            <div class="home-product-title-p">{{ 't18d94975' | t }}</div>
            <div class="home-product-quantity">{{ 'tn415d450' | t }}</div>
          </div>
          <div class="home-mobile-product-contents"><img
              src="{{ 'product-image.png' | asset_url }}"
              loading="lazy"
              alt=""
              class="home-mobile-product-img">
            <div class="home-mobile-product-title">
              <div class="home-mobile-product-title-p">{{ 't18d94975' | t }}</div>
              <div class="home-mobile-product-price-p">{{ 'tn38fc0f91' | t }}</div>
            </div>
          </div>
          <div class="home-product-info">
            <div class="home-product-price-container">
              <div class="product-price urge">{{ 'tn570cc8be' | t }}</div>
              <div class="product-price discount">{{ 'tn570cc8c2' | t }}</div>
              <div class="home-price-save-label">{{ 'tn773c9244' | t }}</div>
            </div>
            <ul role="list" class="product-bullets w-list-unstyled">
              <li class="product-bullet">
                <div class="list-checkmark"><img
                    src="{{ 'checkmark-product.svg' | asset_url }}"
                    loading="lazy"
                    alt=""></div>
                <div>{{ 't70911500' | t }}<strong>{{ 't1627171c' | t }}</strong>
                </div>
              </li>
              <li class="product-bullet">
                <div class="list-checkmark"><img
                    src="{{ 'checkmark-product.svg' | asset_url }}"
                    loading="lazy"
                    alt=""></div>
                <div>
                  <strong>{{ 't7f9c6428' | t }}</strong>
                  {{ 'tn1ffae2c2' | t }}</div>
              </li>
              <li class="product-bullet">
                <div class="list-checkmark"><img
                    src="{{ 'checkmark-product.svg' | asset_url }}"
                    loading="lazy"
                    alt=""></div>
                <div>
                  <strong>{{ 'tn70c9aa43' | t }}</strong>
                  {{ 't4685a818' | t }}</div>
              </li>
            </ul>
          </div>
          <div class="home-product-swatches">
            <p>
              <strong>{{ 'tn61d06f63' | t }}</strong>
              {{ 'tn67e75256' | t }}</p>



          </div>
          <a href="#" class="product-atc-btn w-inline-block">{{ 'tn54eaa5b5' | t }}</a>
          <div class="product-mobile-label-wrapper">
            <div class="home-product-label">{{ 'tn1b387fb5' | t }}</div>
          </div>
        </div>
      {% endfor %}

    </div>
    <div class="unique-selling-points-collection">
      <div class="usp-wrapper">
        <div class="usp-icon">
          {%- if section.settings.usp_afbeelding_1 == nil -%}<img
              src="{{ 'temperatuur.svg' | asset_url }}"
              loading="lazy"
              alt=""
              class="ups-icon-img">{%- else -%}<img
              src="{{ section.settings.usp_afbeelding_1.src | img_url: 'master' }}"
              loading="lazy"
              alt="{{ section.settings.usp_afbeelding_1.alt | escape }}"
              class="ups-icon-img"
              srcset="{{ section.settings.usp_afbeelding_1 | img_url: '1920x' }} 1920w,{{ section.settings.usp_afbeelding_1 | img_url: '1600x' }} 1600w,{{ section.settings.usp_afbeelding_1 | img_url: '1366x' }} 1366w,{{ section.settings.usp_afbeelding_1 | img_url: '1024x' }} 1024w,{{ section.settings.usp_afbeelding_1 | img_url: '768x' }} 768w,{{ section.settings.usp_afbeelding_1 | img_url: '640x' }} 640w">{%- endif -%}
        </div>
        <div>{{ section.settings.usp_1 | newline_to_br }}</div>
      </div>
      <div class="usp-wrapper">
        <div class="usp-icon">
          {%- if section.settings.usp_afbeelding_2 == nil -%}<img
              src="{{ 'groene-bezorging-1.svg' | asset_url }}"
              loading="lazy"
              alt=""
              class="ups-icon-img">{%- else -%}<img
              src="{{ section.settings.usp_afbeelding_2.src | img_url: 'master' }}"
              loading="lazy"
              alt="{{ section.settings.usp_afbeelding_2.alt | escape }}"
              class="ups-icon-img"
              srcset="{{ section.settings.usp_afbeelding_2 | img_url: '1920x' }} 1920w,{{ section.settings.usp_afbeelding_2 | img_url: '1600x' }} 1600w,{{ section.settings.usp_afbeelding_2 | img_url: '1366x' }} 1366w,{{ section.settings.usp_afbeelding_2 | img_url: '1024x' }} 1024w,{{ section.settings.usp_afbeelding_2 | img_url: '768x' }} 768w,{{ section.settings.usp_afbeelding_2 | img_url: '640x' }} 640w">{%- endif -%}
        </div>
        <div>{{ section.settings.usp_2 | newline_to_br }}</div>
      </div>
      <div class="usp-wrapper">
        <div class="usp-icon">
          {%- if section.settings.usp_afbeelding_3 == nil -%}<img
              src="{{ 'duurzaamheid-rood-1.svg' | asset_url }}"
              loading="lazy"
              alt=""
              class="ups-icon-img">{%- else -%}<img
              src="{{ section.settings.usp_afbeelding_3.src | img_url: 'master' }}"
              loading="lazy"
              alt="{{ section.settings.usp_afbeelding_3.alt | escape }}"
              class="ups-icon-img"
              srcset="{{ section.settings.usp_afbeelding_3 | img_url: '1920x' }} 1920w,{{ section.settings.usp_afbeelding_3 | img_url: '1600x' }} 1600w,{{ section.settings.usp_afbeelding_3 | img_url: '1366x' }} 1366w,{{ section.settings.usp_afbeelding_3 | img_url: '1024x' }} 1024w,{{ section.settings.usp_afbeelding_3 | img_url: '768x' }} 768w,{{ section.settings.usp_afbeelding_3 | img_url: '640x' }} 640w">{%- endif -%}
        </div>
        <div>{{ section.settings.usp_3 | newline_to_br }}</div>
      </div>
    </div>
  </div>
</div>


<script>
  var currentSection = document.currentScript.closest('.shopify-section');
  currentSection.setAttribute("class", "pdp-footer-product-section");
</script>

{% schema %}
  {
    "presets": [
      {
        "name": "V1 - Footer Producten"
      }
    ],
    "name": "V1 - Footer Producten",
    "tag": "div",
    "class": "pdp-footer-product-section",
    "settings": [
      {
        "type": "textarea",
        "id": "titel",
        "label": "Titel",
        "default": "Bestel het Heatup kussen"
      },
      {
        "type": "textarea",
        "id": "paragraph",
        "label": "Paragraph",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      },
      {
        "type": "textarea",
        "id": "usp_1",
        "label": "USP 1",
        "default": "Probeer gratis 30 dagen warmte"
      },
      {
        "type": "textarea",
        "id": "usp_2",
        "label": "USP 2",
        "default": "Gratis verzending boven de €100"
      }, {
        "type": "textarea",
        "id": "usp_3",
        "label": "USP 3",
        "default": "Wij planten 1m2 groen terug per kussen"
      }, {
        "type": "image_picker",
        "id": "usp_afbeelding_1",
        "label": "USP Afbeelding 1"
      }, {
        "type": "image_picker",
        "id": "usp_afbeelding_2",
        "label": "USP Afbeelding 2"
      }, {
        "type": "image_picker",
        "id": "usp_afbeelding_3",
        "label": "USP Afbeelding 3"
      }, {
        "id": "swiper-products",
        "type": "product_list",
        "label": "Swiper Products"
      }
    ]
  }
{% endschema %}