{% assign product = section.settings.product %}

<div class="page-padding">
  <div class="container-v1 vertical">
    <div class="heading-container _2">
      <h1 class="h1-section">{{ section.settings.titel | newline_to_br }}</h1>
      <p>{{ section.settings.tagline | newline_to_br }}</p>
    </div>

    <div class="featured-products">

      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'featured-product' %}
          <div class="featured-product {% if block.settings.border-visible %}important{%endif%}">
            <div class="featured-desktop-product-image"><img
                src="{{ product.featured_image | img_url: 'master' }}"
                loading="lazy"
                alt=""
                class="img-cover-absolute">
              {% if block.settings.badge %}
                <div class="home-product-label desktop-only">{{ block.settings.badge-text }}</div>
              {% endif %}
            </div>
            <div class="home-desktop-product-title">
              <div class="home-product-title-p">{{ product.title }}</div>
              <div class="home-product-quantity">{{ block.settings.quantity }}</div>
            </div>
            <div class="home-mobile-product-contents"><img
                src="{{ product.featured_image | img_url: 'master' }}"
                loading="lazy"
                alt=""
                class="home-mobile-product-img">
              <div class="home-mobile-product-title">
                <div class="home-mobile-product-title-p">{{ product.title }}</div>
                <div class="home-mobile-product-price-p">{{ product.price | money }}</div>
              </div>
            </div>
            <div class="home-product-info">
              <div class="home-product-price-container">
                <div class="product-price urge">{{ product.price | money }}</div>
                <div class="product-price discount">{{ product.compare_at_price | money }}</div>
                <div class="home-price-save-label">{{ discount }}</div>
              </div>
              <ul role="list" class="product-bullets w-list-unstyled">
                {% if block.settings.bullet-point-1 != blank %}
                  <li class="product-bullet">
                    <div class="list-checkmark"><img
                        src="{{ 'checkmark-product.svg' | asset_url }}"
                        loading="lazy"
                        alt=""></div>
                    <div>{{ block.settings.bullet-point-1 }}
                    </div>
                  </li>
                {% endif %}
                {% if block.settings.bullet-point-2 != blank %}
                  <li class="product-bullet">
                    <div class="list-checkmark"><img
                        src="{{ 'checkmark-product.svg' | asset_url }}"
                        loading="lazy"
                        alt=""></div>
                    <div>
                      {{ block.settings.bullet-point-2 }}</div>
                  </li>
                {% endif %}
                {% if block.settings.bullet-point-3 != blank %}
                  <li class="product-bullet">
                    <div class="list-checkmark"><img
                        src="{{ 'checkmark-product.svg' | asset_url }}"
                        loading="lazy"
                        alt=""></div>
                    <div>
                      {{ block.settings.bullet-point-3 }}</div>
                  </li>
                {% endif %}
              </ul>
            </div>
            {% if block.settings.swatches %}
              <div class="home-product-swatches">
                <p>
                  <strong>{{ 'tn61d06f63' | t }}</strong>
                  {{ 'tn67e75256' | t }}</p>
                <div class="home-product-swatch-options">
                  <div class="home-product-swatch active"></div>
                  <div class="home-product-swatch yellow"></div>
                  <div class="home-product-swatch blue"></div>
                </div>
              </div>
            {% endif %}
            <a href="{{product.url}}" class="product-atc-btn w-inline-block">{{ block.settings.button-label }}</a>
            {% if block.settings.badge %}
              <div class="product-mobile-label-wrapper">
                <div class="home-product-label">{{ block.settings.badge-text }}</div>
              </div>
            {% endif %}
          </div>
        {% endcase %}
      {% endfor %}

    </div>

    <div class="unique-selling-points-collection">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'usp' %}
          <div class="usp-wrapper">
            <div class="usp-icon">
              <div class="ups-icon-img">{{ block.settings.usp_afbeelding }}</div>
            </div>
            <div>{{ block.settings.usp }}</div>
          </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>


<script>
  var currentSection = document.currentScript.closest('.shopify-section');
  currentSection.setAttribute("class", "homepage-product-section");
</script>

{% schema %}
  {
    "presets": [
      {
        "name": "V1 - Homepage Featured Pr"
      }
    ],
    "name": "V1 - Homepage Featured Pr",
    "tag": "div",
    "class": "homepage-product-section",
    "settings": [
      {
        "type": "product",
        "id": "product",
        "label": "Product"
      }, {
        "type": "textarea",
        "id": "titel",
        "label": "Titel",
        "default": "Bestel het Heatup kussen"
      }, {
        "type": "textarea",
        "id": "tagline",
        "label": "Tagline",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      }
    ],
    "blocks": [
      {
        "type": "featured-product",
        "name": "Featured Product",
        "settings": [
          {
            "type": "text",
            "id": "quantity",
            "label": "Quantity"
          },
          {
            "type": "richtext",
            "id": "bullet-point-1",
            "label": "Bullet Point 1"
          },
          {
            "type": "richtext",
            "id": "bullet-point-2",
            "label": "Bullet Point 2"
          },
          {
            "type": "richtext",
            "id": "bullet-point-3",
            "label": "Bullet Point 3"
          }, {
            "type": "checkbox",
            "id": "badge",
            "label": "Badge Visible"
          }, {
            "type": "text",
            "id": "badge-text",
            "label": "Badge Text"
          }, {
            "type": "checkbox",
            "id": "border-visible",
            "label": "Border Visible"
          }, {
            "type": "checkbox",
            "id": "swatches",
            "label": "Swatches Visible",
            "default": false
          }, {
            "type": "text",
            "id": "button-label",
            "label": "Button Label"
          }
        ]
      }, {
        "type": "usp",
        "name": "USP",
        "settings": [
          {
            "type": "textarea",
            "id": "usp",
            "label": "USP",
            "default": "Probeer gratis 30 dagen warmte"
          }, {
            "type": "html",
            "id": "usp_afbeelding",
            "label": "USP Afbeelding"
          }
        ]
      }
    ]
  }
{% endschema %}