
    <div class="page-padding">
      <div class="container-v1">
        <div class="section-grid">
          <div id="w-node-_81e9a1c1-7806-6253-3843-361f981f19a7-981f19a3" class="_506-max mobile-hidden">
            <div id="w-node-_81e9a1c1-7806-6253-3843-361f981f19a8-981f19a3" class="_1-1-ratio-img _506-max">{%- if section.settings.afbeelding == nil -%}<img src="{{ 'image-1.png' | asset_url }}" loading="lazy" sizes="(max-width: 991px) 100vw, 42vw" srcset="{{ 'image-1-p-500.png' | asset_url }} 500w, {{ 'image-1.png' | asset_url }} 774w" alt="" class="absolute-cover-img">{%- else -%}<img src="{{ section.settings.afbeelding.src | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.afbeelding.alt | escape }}" class="absolute-cover-img" srcset="{{ section.settings.afbeelding | img_url: '1920x' }} 1920w,{{ section.settings.afbeelding | img_url: '1600x' }} 1600w,{{ section.settings.afbeelding | img_url: '1366x' }} 1366w,{{ section.settings.afbeelding | img_url: '1024x' }} 1024w,{{ section.settings.afbeelding | img_url: '768x' }} 768w,{{ section.settings.afbeelding | img_url: '640x' }} 640w">{%- endif -%}</div>
          </div>
          <div id="w-node-_81e9a1c1-7806-6253-3843-361f981f19aa-981f19a3" class="faq-pdp-content">
            <div class="faq-pdp-header">
              <h1 class="faq-pdp-section-header">{{ section.settings.titel | newline_to_br }}</h1>
              <div>{{ section.settings.paragraph | newline_to_br }}</div>
            </div>
            <div class="informational-swiper">
              <div id="usp-swiper" class="swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
                <div class="swiper-wrapper">
                  {%- for block in section.blocks -%}{%- if block.type == "slide" -%}<div class="swiper-slide" block.shopify_attributes>
                    <div class="informational-slide">
                      <div class="inner-informational-grid">
                        <div id="w-node-_81e9a1c1-7806-6253-3843-361f981f19b6-981f19a3" class="informational-icon">{%- if block.settings.afbeelding == nil -%}<img src="{{ 'duurzaamheid-rood-1.svg' | asset_url }}" loading="lazy" alt="" class="informational-icon-img">{%- else -%}<img src="{{ block.settings.afbeelding.src | img_url: 'master' }}" loading="lazy" alt="{{ block.settings.afbeelding.alt | escape }}" class="informational-icon-img" srcset="{{ block.settings.afbeelding | img_url: '1920x' }} 1920w,{{ block.settings.afbeelding | img_url: '1600x' }} 1600w,{{ block.settings.afbeelding | img_url: '1366x' }} 1366w,{{ block.settings.afbeelding | img_url: '1024x' }} 1024w,{{ block.settings.afbeelding | img_url: '768x' }} 768w,{{ block.settings.afbeelding | img_url: '640x' }} 640w">{%- endif -%}</div>
                        <div id="w-node-_81e9a1c1-7806-6253-3843-361f981f19b8-981f19a3" class="informational-title">{{ block.settings.titel | newline_to_br }}</div>
                        <div id="w-node-_81e9a1c1-7806-6253-3843-361f981f19ba-981f19a3" class="text-block-3">{{ block.settings.paragraph | newline_to_br }}</div>
                      </div>
                    </div>
                  </div>{%- endif -%}{%- endfor -%}
                </div>
                <div class="slider-arrow-container-relative">
                  <div id="usp-prev-arrow" class="slider-arrow"><img src="{{ 'arrow-right.svg' | asset_url }}" loading="lazy" alt="" class="arrow-swipe"></div>
                  <div id="usp-next-arrow" class="slider-arrow"><img src="{{ 'right-arrow.svg' | asset_url }}" loading="lazy" alt="" class="arrow-swipe"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  

<script>var currentSection = document.currentScript.closest('.shopify-section');currentSection.setAttribute("class","informational-section");</script>
        
{% schema %}{
  "presets": [
    {
      "name": "V1 - Informatie"
    }
  ],
  "name": "V1 - Informatie",
  "tag": "div",
  "class": "informational-section",
  "settings": [
    {
      "type": "textarea",
      "id": "titel",
      "label": "Titel",
      "default": "Verwarming omlaag, Heatup omhoog."
    },
    {
      "type": "textarea",
      "id": "paragraph",
      "label": "Paragraph",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique."
    },
    {
      "type": "image_picker",
      "id": "afbeelding",
      "label": "Afbeelding"
    }
  ],
  "blocks": [
    {
      "name": "Slide",
      "type": "slide",
      "settings": [
        {
          "type": "textarea",
          "id": "titel",
          "label": "Titel",
          "default": "Verwarming omlaag, Heatup omhoog"
        },
        {
          "type": "textarea",
          "id": "paragraph",
          "label": "Paragraph",
          "default": "Ervaar de transformerende kracht van ons warmtekussen. Met de snel opwarmende technologie, voel je binnen enkele minuten verlichting van rugpijn, nekpijn of spierpijn na een lange werkdag of na het sporten."
        },
        {
          "type": "image_picker",
          "id": "afbeelding",
          "label": "Afbeelding"
        }
      ]
    }
  ]
}{% endschema %}