{% schema %}
  {
    "presets": [
      {
        "name": "V1 - Product"
      }
    ],
    "name": "V1 - Product",
    "tag": "div",
    "class": "product-section",
    "settings": [
      {
        "type": "textarea",
        "id": "waarom_titel",
        "label": "Waarom titel",
        "default": "Waarom Heat Up?"
      }
    ],
    "blocks": [
      {
        "type": "title",
        "name": "Title",
        "limit": 1
      },
      {
        "type": "price",
        "name": "Price",
        "limit": 1
      },
      {
        "type": "reviews",
        "name": "Reviews",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "reviews",
            "label": "Reviews Text"
          }
        ]
      },
      {
        "type": "delivery",
        "name": "Delivery",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "delivery",
            "label": "Delivery Text"
          }
        ]
      }, {
        "type": "swatches",
        "name": "Swatches",
        "limit": 1
      }, {
        "type": "variants",
        "name": "Variants",
        "limit": 1
      }, {
        "type": "checkout_buttons",
        "name": "Checkout Buttons",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "atc-text",
            "label": "ATC Text"
          }
        ]
      }, {
        "type": "payment_icons",
        "name": "Payment Icons",
        "limit": 1
      }, {
        "type": "media",
        "name": "Media",
        "limit": 1,
        "settings": [
          {
            "type": "textarea",
            "id": "label_text",
            "label": "Label Text",
            "default": "FAST SELLING"
          },
          {
            "type": "image_picker",
            "id": "afbeelding",
            "label": "Afbeelding"
          },
          {
            "type": "image_picker",
            "id": "product_label_icon",
            "label": "Product Label Icon"
          },
          {
            "type": "image_picker",
            "id": "badge_1",
            "label": "Badge 1"
          }, {
            "type": "image_picker",
            "id": "badge_2",
            "label": "Badge 2"
          }, {
            "type": "checkbox",
            "id": "labels_aanuit",
            "label": "Labels aan/uit",
            "default": true
          }, {
            "type": "checkbox",
            "id": "product_label_aanuit",
            "label": "Product label aan/uit",
            "default": true
          }, {
            "type": "checkbox",
            "id": "trust_badges_aanuit",
            "label": "Trust Badges aan/uit",
            "default": true
          }, {
            "type": "checkbox",
            "id": "badge_1_aanuit",
            "label": "Badge 1 aan/uit",
            "default": true
          }, {
            "type": "checkbox",
            "id": "badge_2_aanuit",
            "label": "Badge 2 aan/uit",
            "default": true
          }
        ]
      }, {
        "name": "USP",
        "type": "usp"
      }, {
        "name": "USP - Icon + Text",
        "type": "usp_icon_text",
        "settings": [
          {
            "type": "textarea",
            "id": "waardepropositie",
            "label": "Waardepropositie",
            "default": "Fast Charging: Opwarmt snel voor snelle verlichting en ontspanning."
          }, {
            "type": "image_picker",
            "id": "afbeelding",
            "label": "Afbeelding"
          }
        ]
      }, {
        "name": "Why Reason",
        "type": "why_reason",
        "settings": [
          {
            "type": "textarea",
            "id": "why_paragraph",
            "label": "Why paragraph",
            "default": "Probeer gratis 30 dagen warmte"
          }, {
            "type": "image_picker",
            "id": "afbeelding",
            "label": "Afbeelding"
          }
        ]
      }
    ]
  }
{% endschema %}


<style>
  #Product-Images-Swiper .swiper-slide {
    position: relative !important;
  }
</style>



{% assign selected_variant = product.selected_or_first_available_variant %}


{% form 'product', product, id: 'product-form', novalidate: 'novalidate' %}


  <input
    type="hidden"
    name="id"
    value="{{ selected_variant.id }}">
  <div class="page-padding pdp-section" x-data="app()">
    <div class="container-v1">
      <div class="product-inner-container">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'media' %}
            <div class="product-section-left">
              <div class="product-desktop-imgs">

                {% assign product = product %}
                {% assign images = product.images %}
                {% assign first_image = images[0] %}
                {% assign second_image = images[1] %}
                {% assign third_image = images[2] %}
                {% assign fourth_image = images[3] %}
                {% assign fifth_image = images[4] %}
                {% assign sixth_image = images[5] %}
                {% assign seventh_image = images[6] %}
                {% assign eight_image = images[7] %}
                {% assign nineth_image = images[8] %}
                {% assign tenth_image = images[9] %}
                {% assign eleveenth_image = images[10] %}
                {% assign tvelweth_image = images[11] %}

                {% assign alt_var_name = "" %}
                {% for image in product.images %}
                  {% if forloop.index0 == 0 %}
                    {% assign alt_var_name = image.alt %}
                  {% else %}
                    {% assign ignore = "" %}
                    {% assign ignore = ignore | append: alt_var_name %}
                    {% assign ignore = ignore | append: "," %}
                    {% assign ignore = ignore | append: image.alt %}
                  {% endif %}
                {% endfor %}


                <div
                  block="Hero Afbeelding"
                  class="product-image"
                  data-value="{{alt_var_name}}">
                  <img
                    src="{{ first_image.src | img_url: 'master' }}"
                    loading="lazy"
                    sizes="(max-width: 767px) 100vw, (max-width: 991px) 414.8666687011719px, 46vw"
                    srcset="{{ first_image.src | img_url: 'master' }} 500w, {{ first_image.src | img_url: 'master' }} 608w"
                    class="product-img">
                  {%- if block.settings.labels_aanuit -%}
                    <div class="desktop-pdp-badges">
                      {%- if block.settings.product_label_aanuit -%}
                        <div class="product-images-label-desktop"><img
                            src="{{ block.settings.product_label_icon.src | img_url: 'master' }}"
                            loading="lazy"
                            alt=""
                            class="label-img">
                          <div>{{ block.settings.label_text | newline_to_br }}</div>
                        </div>
                      {% endif %}
                      {%- if block.settings.trust_badges_aanuit -%}
                        <div class="trust-badges">
                          {%- if block.settings.badge_1_aanuit -%}
                            <div id="w-node-_3f215b32-4cae-fc71-3946-6c2f07247842-f5de47a6" class="badge-img"><img
                                src="{{ block.settings.badge_1.src | img_url: 'master' }}"
                                loading="lazy"
                                alt=""
                                class="badge-img-inner"></div>
                          {% endif %}
                          {%- if block.settings.badge_2_aanuit -%}
                            <div id="w-node-ec59c62a-14a1-a0a8-7624-d54c561dc90f-f5de47a6" class="badge-img"><img
                                src="{{ block.settings.badge_2.src | img_url: 'master' }}"
                                loading="lazy"
                                sizes="(max-width: 767px) 100vw, 50.5px"
                                srcset="{{ block.settings.badge_2.src | img_url: 'master' }} 500w, {{ block.settings.badge_2.src | img_url: 'master' }} 532w"
                                alt=""
                                class="badge-img-inner"></div>
                          {% endif %}
                        </div>
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
                <div block="2 Afbeeldingen" class="product-images-row">
                  <div data-value="{{alt_var_name}}" class="product-row-img"><img
                      src="{{ second_image.src | img_url: 'master' }}"
                      loading="lazy"
                      sizes="(max-width: 767px) 100vw, (max-width: 991px) 197.93333435058594px, 23vw"
                      srcset="{{ second_image.src | img_url: 'master' }} 500w, {{ second_image.src | img_url: 'master' }} 608w"
                      alt=""
                      class="product-img"></div>
                  <div data-value="{{alt_var_name}}" class="product-row-img"><img
                      src="{{ third_image.src | img_url: 'master' }}"
                      loading="lazy"
                      sizes="(max-width: 767px) 100vw, (max-width: 991px) 197.93333435058594px, 23vw"
                      srcset="{{ third_image.src | img_url: 'master' }} 500w, {{ third_image.src | img_url: 'master' }} 608w"
                      alt=""
                      class="product-img"></div>
                </div>
                <div data-value="{{alt_var_name}}" class="product-image"><img
                    src="{{ fourth_image.src | img_url: 'master' }}"
                    loading="lazy"
                    sizes="(max-width: 767px) 100vw, (max-width: 991px) 414.8666687011719px, 46vw"
                    srcset="{{ fourth_image.src | img_url: 'master' }} 500w, {{ fourth_image.src | img_url: 'master' }} 774w"
                    alt=""
                    class="product-img"></div>

                <div data-value="{{alt_var_name}}" class="product-image after-image">
                  <img
                    src="{{ fifth_image.src | img_url: 'master' }}"
                    loading="lazy"
                    sizes="(max-width: 767px) 100vw, (max-width: 991px) 414.8666687011719px, 46vw"
                    srcset="{{ fifth_image.src | img_url: 'master' }} 500w, {{ fifth_image.src | img_url: 'master' }} 608w"
                    alt=""
                    class="product-img">
                  {%- if block.settings.labels_aanuit -%}
                    <div class="desktop-pdp-badges">
                      {%- if block.settings.product_label_aanuit -%}
                        <div class="product-images-label-desktop"><img
                            src="{{ block.settings.product_label_icon.src | img_url: 'master' }}"
                            loading="lazy"
                            alt=""
                            class="label-img">
                          <div>{{ block.settings.label_text | newline_to_br }}</div>
                        </div>
                      {% endif %}
                      {%- if block.settings.trust_badges_aanuit -%}
                        <div class="trust-badges">
                          {%- if block.settings.badge_1_aanuit -%}
                            <div id="w-node-_3f215b32-4cae-fc71-3946-6c2f07247842-f5de47a6" class="badge-img"><img
                                src="{{ block.settings.badge_1.src | img_url: 'master' }}"
                                loading="lazy"
                                alt=""
                                class="badge-img-inner"></div>
                          {% endif %}
                          {%- if block.settings.badge_2_aanuit -%}
                            <div id="w-node-ec59c62a-14a1-a0a8-7624-d54c561dc90f-f5de47a6" class="badge-img"><img
                                src="{{ block.settings.badge_2.src | img_url: 'master' }}"
                                loading="lazy"
                                sizes="(max-width: 767px) 100vw, 50.5px"
                                srcset="{{ block.settings.badge_2.src | img_url: 'master' }} 500w, {{ block.settings.badge_2.src | img_url: 'master' }} 532w"
                                alt=""
                                class="badge-img-inner"></div>
                          {% endif %}
                        </div>
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
                <div block="2 Afbeeldingen" class="product-images-row">
                  <div data-value="{{alt_var_name}}" class="product-row-img"><img
                      src="{{ sixth_image.src | img_url: 'master' }}"
                      loading="lazy"
                      sizes="(max-width: 767px) 100vw, (max-width: 991px) 197.93333435058594px, 23vw"
                      srcset="{{ sixth_image.src | img_url: 'master' }} 500w, {{ sixth_image.src | img_url: 'master' }} 608w"
                      alt=""
                      class="product-img"></div>
                  <div data-value="{{alt_var_name}}" class="product-row-img"><img
                      src="{{ seventh_image.src | img_url: 'master' }}"
                      loading="lazy"
                      sizes="(max-width: 767px) 100vw, (max-width: 991px) 197.93333435058594px, 23vw"
                      srcset="{{ seventh_image.src | img_url: 'master' }} 500w, {{ seventh_image.src | img_url: 'master' }} 608w"
                      alt=""
                      class="product-img"></div>
                </div>
                <div data-value="{{alt_var_name}}" class="product-image"><img
                    src="{{ eight_image.src | img_url: 'master' }}"
                    loading="lazy"
                    sizes="(max-width: 767px) 100vw, (max-width: 991px) 414.8666687011719px, 46vw"
                    srcset="{{ eight_image.src | img_url: 'master' }} 500w, {{ eight_image.src | img_url: 'master' }} 774w"
                    alt=""
                    class="product-img"></div>

                <div
                  data-value="{{alt_var_name}}"
                  block="Hero Afbeelding"
                  class="product-image after-image">
                  <img
                    src="{{ nineth_image.src | img_url: 'master' }}"
                    loading="lazy"
                    sizes="(max-width: 767px) 100vw, (max-width: 991px) 414.8666687011719px, 46vw"
                    srcset="{{ nineth_image.src | img_url: 'master' }} 500w, {{ nineth_image.src | img_url: 'master' }} 608w"
                    alt=""
                    class="product-img">
                  {%- if block.settings.labels_aanuit -%}
                    <div class="desktop-pdp-badges">
                      {%- if block.settings.product_label_aanuit -%}
                        <div class="product-images-label-desktop"><img
                            src="{{ block.settings.product_label_icon.src | img_url: 'master' }}"
                            loading="lazy"
                            alt=""
                            class="label-img">
                          <div>{{ block.settings.label_text | newline_to_br }}</div>
                        </div>
                      {% endif %}
                      {%- if block.settings.trust_badges_aanuit -%}
                        <div class="trust-badges">
                          {%- if block.settings.badge_1_aanuit -%}
                            <div id="w-node-_3f215b32-4cae-fc71-3946-6c2f07247842-f5de47a6" class="badge-img"><img
                                src="{{ block.settings.badge_1.src | img_url: 'master' }}"
                                loading="lazy"
                                alt=""
                                class="badge-img-inner"></div>
                          {% endif %}
                          {%- if block.settings.badge_2_aanuit -%}
                            <div id="w-node-ec59c62a-14a1-a0a8-7624-d54c561dc90f-f5de47a6" class="badge-img"><img
                                src="{{ block.settings.badge_2.src | img_url: 'master' }}"
                                loading="lazy"
                                sizes="(max-width: 767px) 100vw, 50.5px"
                                srcset="{{ block.settings.badge_2.src | img_url: 'master' }} 500w, {{ block.settings.badge_2.src | img_url: 'master' }} 532w"
                                alt=""
                                class="badge-img-inner"></div>
                          {% endif %}
                        </div>
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
                <div block="2 Afbeeldingen" class="product-images-row">
                  <div data-value="{{alt_var_name}}" class="product-row-img"><img
                      src="{{ tenth_image.src | img_url: 'master' }}"
                      loading="lazy"
                      sizes="(max-width: 767px) 100vw, (max-width: 991px) 197.93333435058594px, 23vw"
                      srcset="{{ tenth_image.src | img_url: 'master' }} 500w, {{ tenth_image.src | img_url: 'master' }} 608w"
                      alt=""
                      class="product-img"></div>
                  <div data-value="{{alt_var_name}}" class="product-row-img"><img
                      src="{{ eleveenth_image.src | img_url: 'master' }}"
                      loading="lazy"
                      sizes="(max-width: 767px) 100vw, (max-width: 991px) 197.93333435058594px, 23vw"
                      srcset="{{ eleveenth_image.src | img_url: 'master' }} 500w, {{ eleveenth_image.src | img_url: 'master' }} 608w"
                      alt=""
                      class="product-img"></div>
                </div>
                <div data-value="{{alt_var_name}}" class="product-image"><img
                    src="{{ tvelweth_image.src | img_url: 'master' }}"
                    loading="lazy"
                    sizes="(max-width: 767px) 100vw, (max-width: 991px) 414.8666687011719px, 46vw"
                    srcset="{{ tvelweth_image.src | img_url: 'master' }} 500w, {{ tvelweth_image.src | img_url: 'master' }} 774w"
                    alt=""
                    class="product-img"></div>
              </div>
              <div class="product-slider pdp-slider">
                <div class="product-images-label"><img
                    src="{{ block.settings.product_label_icon.src | img_url: 'master' }}"
                    loading="lazy"
                    alt=""
                    class="label-img">
                  <div>{{ 't5fc48b6c' | t }}</div>
                </div>
                <div id="Product-Images-Swiper" class="swiper-container swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide"><img
                        src="{{ first_image.src | img_url: 'master' }}"
                        loading="lazy"
                        sizes="(max-width: 479px) 31vw, (max-width: 767px) 32vw, 100vw"
                        srcset="{{ first_image.src | img_url: 'master' }} 500w, {{ first_image.src | img_url: 'master' }} 608w"
                        alt=""
                        class="product-img-slide">
                      <div class="product-img-badges">
                        {%- if block.settings.badge_1_aanuit -%}
                          <div class="badge-img"><img
                              src="{{ block.settings.badge_1.src | img_url: 'master' }}"
                              loading="lazy"
                              alt=""
                              class="badge-img-inner"></div>
                        {% endif %}
                        {%- if block.settings.badge_2_aanuit -%}
                          <div class="badge-img"><img
                              src="{{ block.settings.badge_2.src | img_url: 'master' }}"
                              loading="lazy"
                              sizes="(max-width: 479px) 11vw, (max-width: 767px) 50.5px, 100vw"
                              srcset="{{ block.settings.badge_2.src | img_url: 'master' }} 500w, {{ block.settings.badge_2.src | img_url: 'master' }} 532w"
                              alt=""
                              class="badge-img-inner"></div>
                        {% endif %}
                      </div>
                    </div>
                    <div class="swiper-slide"><img
                        src="{{ second_image.src | img_url: 'master' }}"
                        loading="lazy"
                        sizes="(max-width: 479px) 31vw, (max-width: 767px) 32vw, 100vw"
                        srcset="{{ second_image.src | img_url: 'master' }} 500w, {{ second_image.src | img_url: 'master' }} 608w"
                        alt=""
                        class="product-img-slide"></div>
                    <div class="swiper-slide"><img
                        src="{{ third_image.src | img_url: 'master' }}"
                        loading="lazy"
                        sizes="(max-width: 479px) 31vw, (max-width: 767px) 32vw, 100vw"
                        srcset="{{ third_image.src | img_url: 'master' }} 500w, {{ third_image.src | img_url: 'master' }} 608w"
                        alt=""
                        class="product-img-slide"></div>
                    <div class="swiper-slide"><img
                        src="{{ fourth_image.src | img_url: 'master' }}"
                        loading="lazy"
                        sizes="(max-width: 479px) 31vw, (max-width: 767px) 32vw, 100vw"
                        srcset="{{ fourth_image.src | img_url: 'master' }} 500w, {{ fourth_image.src | img_url: 'master' }} 608w"
                        alt=""
                        class="product-img-slide"></div>
                    <div class="swiper-slide"><img
                        src="{{ fifth_image.src | img_url: 'master' }}"
                        loading="lazy"
                        sizes="(max-width: 479px) 31vw, (max-width: 767px) 32vw, 100vw"
                        srcset="{{ fifth_image.src | img_url: 'master' }} 500w, {{ fifth_image.src | img_url: 'master' }} 608w"
                        alt=""
                        class="product-img-slide"></div>
                    <div class="swiper-slide"><img
                        src="{{ sixth_image.src | img_url: 'master' }}"
                        loading="lazy"
                        sizes="(max-width: 479px) 31vw, (max-width: 767px) 32vw, 100vw"
                        srcset="{{ sixth_image.src | img_url: 'master' }} 500w, {{ sixth_image.src | img_url: 'master' }} 608w"
                        alt=""
                        class="product-img-slide"></div>
                    <div class="swiper-slide"><img
                        src="{{ seventh_image.src | img_url: 'master' }}"
                        loading="lazy"
                        sizes="(max-width: 479px) 31vw, (max-width: 767px) 32vw, 100vw"
                        srcset="{{ seventh_image.src | img_url: 'master' }} 500w, {{ seventh_image.src | img_url: 'master' }} 608w"
                        alt=""
                        class="product-img-slide"></div>
                    <div class="swiper-slide"><img
                        src="{{ eight_image.src | img_url: 'master' }}"
                        loading="lazy"
                        sizes="(max-width: 479px) 31vw, (max-width: 767px) 32vw, 100vw"
                        srcset="{{ eight_image.src | img_url: 'master' }} 500w, {{ eight_image.src | img_url: 'master' }} 608w"
                        alt=""
                        class="product-img-slide"></div>
                    <div class="swiper-slide"><img
                        src="{{ nineth_image.src | img_url: 'master' }}"
                        loading="lazy"
                        sizes="(max-width: 479px) 31vw, (max-width: 767px) 32vw, 100vw"
                        srcset="{{ nineth_image.src | img_url: 'master' }} 500w, {{ nineth_image.src | img_url: 'master' }} 608w"
                        alt=""
                        class="product-img-slide"></div>
                    <div class="swiper-slide"><img
                        src="{{ tenth_image.src | img_url: 'master' }}"
                        loading="lazy"
                        sizes="(max-width: 479px) 31vw, (max-width: 767px) 32vw, 100vw"
                        srcset="{{ tenth_image.src | img_url: 'master' }} 500w, {{ tenth_image.src | img_url: 'master' }} 608w"
                        alt=""
                        class="product-img-slide"></div>
                    <div class="swiper-slide"><img
                        src="{{ eleveenth_image.src | img_url: 'master' }}"
                        loading="lazy"
                        sizes="(max-width: 479px) 31vw, (max-width: 767px) 32vw, 100vw"
                        srcset="{{ eleveenth_image.src | img_url: 'master' }} 500w, {{ eleveenth_image.src | img_url: 'master' }} 608w"
                        alt=""
                        class="product-img-slide"></div>
                    <div class="swiper-slide"><img
                        src="{{ tvelweth_image.src | img_url: 'master' }}"
                        loading="lazy"
                        sizes="(max-width: 479px) 31vw, (max-width: 767px) 32vw, 100vw"
                        srcset="{{ tvelweth_image.src | img_url: 'master' }} 500w, {{ tvelweth_image.src | img_url: 'master' }} 608w"
                        alt=""
                        class="product-img-slide"></div>
                  </div>
                  <div class="product-swiper-nav">
                    <div id="product-prev-arrow" class="product-swiper-arrow"><img
                        src="{{ 'ic20-arrow-right-1.svg' | asset_url }}"
                        loading="lazy"
                        alt=""
                        class="slider-arrow-icon"></div>
                    <div id="ProductSwiperPagination" class="swiper-pagination-pdp swiper-pagination-bullets swiper-pagination-horizontal">
                      <div class="swiper-pagaintion-bullet"></div>
                    </div>
                    <div id="product-next-arrow" class="product-swiper-arrow"><img
                        src="{{ 'ic20-arrow-right.svg' | asset_url }}"
                        loading="lazy"
                        alt=""
                        class="slider-arrow-icon"></div>
                  </div>
                </div>
                <div class="custom-code-do-not-delete w-embed"></div>
              </div>
            </div>
          {% endcase %}
        {% endfor %}
        <div class="product-section-right">

          <div class="product-sec-info">
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'title' %}
                <h1 class="product-h1">{{ product.title }}</h1>
              {% endcase %}
            {% endfor %}
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'reviews' %}
                <div class="product-reviews"><img
                    src="{{ 'review-stars.svg' | asset_url }}"
                    loading="lazy"
                    alt=""
                    class="review-stars desktop">
                  <div class="review-text-indicator">{{ block.settings.reviews }}</div>
                </div>
              {% endcase %}
            {% endfor %}
          </div>

          <div id="w-node-ae0253a5-f8a5-a265-fbc0-6da1bf8cb43a-bf8cb3ff" class="benefit-text-blocks">
            {%- for block in section.blocks -%}
              {%- if block.type == "usp" -%}
                <div block.shopify_attributes>
                  <div class="benefit-text-block">{{ 't26b847' | t }}</div>
                </div>
              {%- endif -%}
            {%- endfor -%}
          </div>
          <div class="product-info-grid">
            <ul
              id="w-node-ae0253a5-f8a5-a265-fbc0-6da1bf8cb43f-bf8cb3ff"
              role="list"
              class="product-section-usps w-list-unstyled">
              {%- for block in section.blocks -%}
                {%- if block.type == "usp_icon_text" -%}
                  <li class="product-section-usp" block.shopify_attributes>
                    <div class="usp-icon-wrapper-pdp">
                      {%- if block.settings.afbeelding == nil -%}<img
                          src="{{ 'temperatuur-4.svg' | asset_url }}"
                          loading="lazy"
                          alt=""
                          class="usp-icon-pdp">{%- else -%}<img
                          src="{{ block.settings.afbeelding.src | img_url: 'master' }}"
                          loading="lazy"
                          alt="{{ block.settings.afbeelding.alt | escape }}"
                          class="usp-icon-pdp"
                          srcset="{{ block.settings.afbeelding | img_url: '1920x' }} 1920w,{{ block.settings.afbeelding | img_url: '1600x' }} 1600w,{{ block.settings.afbeelding | img_url: '1366x' }} 1366w,{{ block.settings.afbeelding | img_url: '1024x' }} 1024w,{{ block.settings.afbeelding | img_url: '768x' }} 768w,{{ block.settings.afbeelding | img_url: '640x' }} 640w">{%- endif -%}
                    </div>
                    <div class="div-block-5">
                      <div>{{ block.settings.waardepropositie | newline_to_br }}</div>
                    </div>
                  </li>
                {%- endif -%}
              {%- endfor -%}
            </ul>
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'price' %}
                <div id="w-node-ae0253a5-f8a5-a265-fbc0-6da1bf8cb448-bf8cb3ff" class="price-wrapper">
                  <div class="product-price">
                    <div class="price-pdp">{{ selected_variant.price | money }}</div>
                    <div class="before-price-pdp">{{ selected_variant.compare_at_price | money }}</div>
                  </div>
                  <div class="save-label">Bespaar €<span id="discount"></span>
                  </div>
                </div>
              {% endcase %}
            {% endfor %}
          </div>



          {% for variant in product.variants %}
            <div
              style="display: none;"
              id="variant-{{ variant.id }}"
              data-color="{{ variant.option1 }}"
              data-size="{{ variant.option2 }}"
              value="{{ variant.id }}"
              data-price="{{ variant.price }}"
              data-compare-price="{{ variant.compare_at_price }}">
              {{ variant.title }}
            </div>
          {% endfor %}



          <div class="product-cart-form w-form">
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'swatches' %}
                <div id="w-node-ae0253a5-f8a5-a265-fbc0-6da1bf8cb452-bf8cb3ff" class="product-selectors">
                  {% if product.available == true %}
                    {% if product.variants.size > 1 %}
                      <div class="choice-container" x-data="{ showSizePopup: false }">
                        <template x-if="Object.keys(productOptions).includes('Kleur')">
                          <div :class="`swatch-Kleur`" x-data="{ optionName: 'Kleur' }">
                            <div class="pdp-swatch-column">
                              <template x-for="value of productOptions['Kleur']">
                                <label class="pdp-swatch-field">
                                  <div class="w-form-formradioinput w-form-formradioinput--inputType-custom fs-radio_button w-radio-input" :class="`swatch-${value.toLowerCase()}`"></div>
                                  <input
                                    class="color-input"
                                    type="radio"
                                    :name="'Kleur'"
                                    :value="value"
                                    @click="handleClick()"
                                    style="opacity:0;position:absolute;z-index:-1">
                                  <span
                                    :style="currentOptions[optionName] === value ?"
                                    class="size-radio-button-label swatch-text-outside w-form-label"
                                    for="radio"
                                    x-text="value"></span>
                                </label>
                              </template>
                            </div>
                          </div>
                        </template>
                      </div>
                    {% endif %}
                  {% endif %}


                {% endcase %}
              {% endfor %}
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'variants' %}
                  {% if product.available == true %}
                    {% if product.variants.size > 1 %}
                      <div class="choice-container" x-data="{ showSizePopup: false }">
                        <template x-if="Object.keys(productOptions).includes('Aantal')">
                          <div :class="`swatch-Aantal`" x-data="{ optionName: 'Aantal' }">
                            <div class="pdp-amount-column">
                              <template x-for="value of productOptions['Aantal']">
                                <label class="pdp-amount-field">
                                  <div class="w-form-formradioinput w-form-formradioinput--inputType-custom fs-radio_button_amount w-radio-input"></div>
                                  <input
                                    class="color-input"
                                    type="radio"
                                    :name="'Aantal'"
                                    :value="value"
                                    @click="handleClick()"
                                    style="opacity:0;position:absolute;z-index:-1">
                                  <span
                                    class="w-form-label"
                                    style="text-transform:uppercase;"
                                    x-text="value"></span>
                                  <div id="w-node-ae0253a5-f8a5-a265-fbc0-6da1bf8cb473-bf8cb3ff" class="prices">
                                    <span class="before">€149,50</span>
                                    €99,95</div>
                                </label>
                              </template>
                            </div>
                          </div>
                        </template>
                      </div>
                    {% endif %}
                  {% endif %}



                {% endcase %}
              {% endfor %}
            </div>
            <div class="pdp-guarantee">{{ block.settings.delivery }}</div>
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'checkout_buttons' %}
                <a
                  href="/cart/add"
                  type="submit"
                  data-ajax-cart-request-button
                  id="add-to-cart-btn"
                  class="checkout-btn w-inline-block">{{ block.settings.atc-text }} -
                  <span id="variant-price"></span>
                </a>
              {% endcase %}
            {% endfor %}
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'payment_icons' %}
                <div class="payment-icons pdp">
                  <div class="payment-icon"><img
                      src="{{ 'bancontact-1b5f5b192aedfa7ce6d2f62dccc81a01c97e6f4b48c301e8c54c610e9276de94_png.svg' | asset_url }}"
                      loading="lazy"
                      alt=""
                      class="payment-icon-img"></div>
                  <div class="payment-icon"><img
                      src="{{ 'klarna-389801c6056cb5600b4f05f72ebc2c58e4947688c6c4f5e6ccea41f7973d3a28_svg.svg' | asset_url }}"
                      loading="lazy"
                      alt=""
                      class="payment-icon-img"></div>
                  <div class="payment-icon"><img
                      src="{{ 'paypal-logo_uujmio_png.svg' | asset_url }}"
                      loading="lazy"
                      alt=""
                      class="payment-icon-img"></div>
                  <div class="payment-icon"><img
                      src="{{ 'master-173035bc8124581983d4efa50cf8626e8553c2b311353fbf67485f9c1a2b88d1_svg.svg' | asset_url }}"
                      loading="lazy"
                      alt=""
                      class="payment-icon-img"></div>
                  <div class="payment-icon"><img
                      src="{{ 'maestro-d2055c6b416c46cf134f393e1df6e0ba31722b623870f954afd392092207889c_svg.svg' | asset_url }}"
                      loading="lazy"
                      alt=""
                      class="payment-icon-img"></div>
                  <div class="payment-icon"><img
                      src="{{ 'visa-319d545c6fd255c9aad5eeaad21fd6f7f7b4fdbdb1a35ce83b89cca12a187f00_svg.svg' | asset_url }}"
                      loading="lazy"
                      alt=""
                      class="payment-icon-img"></div>
                  <div class="payment-icon"><img
                      src="{{ 'american_express-2264c9b8b57b23b0b0831827e90cd7bcda2836adc42a912ebedf545dead35b20_svg.svg' | asset_url }}"
                      loading="lazy"
                      alt=""
                      class="payment-icon-img"></div>
                </div>
              {% endcase %}
            {% endfor %}
          </div>
          <div class="unique-selling-points-pdp">
            <div class="usp-s-title">{{ section.settings.waarom_titel | newline_to_br }}</div>
            <div class="inner-container-usp-s">
              {%- for block in section.blocks -%}
                {%- if block.type == "why_reason" -%}
                  <div class="usp-wrapper pdp" block.shopify_attributes>
                    <div class="usp-icon pdp">
                      {%- if block.settings.afbeelding == nil -%}<img
                          src="{{ 'temperatuur.svg' | asset_url }}"
                          loading="lazy"
                          alt=""
                          class="ups-icon-img">{%- else -%}<img
                          src="{{ block.settings.afbeelding.src | img_url: 'master' }}"
                          loading="lazy"
                          alt="{{ block.settings.afbeelding.alt | escape }}"
                          class="ups-icon-img"
                          srcset="{{ block.settings.afbeelding | img_url: '1920x' }} 1920w,{{ block.settings.afbeelding | img_url: '1600x' }} 1600w,{{ block.settings.afbeelding | img_url: '1366x' }} 1366w,{{ block.settings.afbeelding | img_url: '1024x' }} 1024w,{{ block.settings.afbeelding | img_url: '768x' }} 768w,{{ block.settings.afbeelding | img_url: '640x' }} 640w">{%- endif -%}
                    </div>
                    <div>{{ block.settings.why_paragraph | newline_to_br }}</div>
                  </div>
                {%- endif -%}
              {%- endfor -%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endform %}

<script>
  var currentSection = document.currentScript.closest('.shopify-section');
  currentSection.setAttribute("class", "product-section");
</script>

<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.6.3.js"
  integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
  crossorigin="anonymous"></script>


<script>
  $(document).ready(function() {

    $(document).ready(function() {
      $('.pdp-swatch-column>label:first').addClass('is-active');
    });

    $(document).ready(function() {
      $('.pdp-amount-column>label:first').addClass('is-active');
    });


    $(document).ready(function() {
      $('.pdp-swatch-column>div:first').addClass('w--redirected-checked');
    });


    $(document).ready(function() {
      $('.pdp-amount-field>span:first').addClass('bold-text');
    });


// Handle active state on swatch click
    $('.pdp-swatch-field').click(function() {
      $('.pdp-swatch-field').removeClass('is-active');
      $(this).closest('.pdp-swatch-field').addClass('is-active');
    });

    $('.pdp-swatch-field').click(function() {
      $('.w-form-formradioinput').removeClass('w--redirected-checked');
      $(this).find('.w-form-formradioinput').addClass('w--redirected-checked');
    });


    $('.pdp-amount-field').click(function() {
      $('.w-form-label').removeClass('bold-text');
      $(this).find('.w-form-label').addClass('bold-text');
    });


    $('.pdp-amount-field').click(function() {
      $('.pdp-amount-field').removeClass('is-active');
      $(this).closest('.pdp-amount-field').addClass('is-active');
    });
  });
</script>



<script>


  const colorMap = {
    {% for block in section.blocks %}
      {% if block.type == 'color' %}
        '{{ block.settings.name }}' : '{{ block.settings.code }}',{% endif %}{% endfor %}
  };

  const allProducts = [
    {{ product | json }},{% for p in product.metafields.custom.linked_products.value %}{
        {
          p | json
        }
      },{% endfor %}
  ];

  function app() {
    return {
      allProducts,
      product: allProducts[0],
      upsold: false,
      currentOptions: {},

      init() {
        const swiper = new Swiper('#swiper-                                                                                                                                                                       {{ section.id }}', {
          direction: 'horizontal',
          navigation: {
            nextEl: '#swiper-next',
            prevEl: '#swiper-prev'
          },

          pagination: {
            el: '.swiper-pagination'
          }
        });

        this.$watch('product', () => swiper.update());
        this.$watch('variant', () => {
          const variant = this.variant;
          if (! variant || ! variant.featured_image) 
            return;
          



          const imgSrc = variant.featured_image.src;
          for (let i = 0; i < swiper.slides.length; i++) {
            const slide = swiper.slides[i];
            const img = slide.querySelector('img');
            if (! img) 
              continue;
            



            if (img.getAttribute("src") === imgSrc) {
              swiper.slideTo(i);
              break;
            }
          }
        })
      },

      priceToCurr(price) {
        const n = parseInt(price);
        return `$${
          (n / 100).toFixed(2)
        }`;
      },

      get variant() {
        for (const variant of this.product.variants) {
          if (JSON.stringify(Object.values(this.currentOptions).sort()) === JSON.stringify(variant.options.sort())) {
            return variant;
          }
        }
        return null;
      },

      get productOptions() {
        const x = this.product.variants.reduce((prev, curr) => {
          for (let i = 0; i < curr.options.length; i++) {
            if (!prev[this.product.options[i]]) 
              prev[this.product.options[i]] = [];
            



            prev[this.product.options[i]].push(curr[`option${
                i + 1
              }`]);
            prev[this.product.options[i]] = [...new Set(prev[this.product.options[i]])];
          }

          return prev;
        }, {});

        return x;
      }
    };
  }
</script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const colorButtons = document.querySelectorAll(".swatch-Kleur label");
    const sizeButtons = document.querySelectorAll(".swatch-Aantal label");
    const addToCartButton = document.querySelector(".checkout-btn");
    const variants = document.querySelectorAll("[id^='variant-']");
    const price = document.querySelector(".price-pdp");
    const comparePrice = document.querySelector(".before-price-pdp");
    const discountSpan = document.querySelector("#discount");

    function updateAddToCartButton() {
      const selectedColor = document.querySelector(".swatch-Kleur input:checked").value;
      const selectedSize = document.querySelector(".swatch-Aantal input:checked").value;
      const selectedVariant = [... variants].find(variant => variant.dataset.color === selectedColor && variant.dataset.size === selectedSize);
      if (selectedVariant) {
        const variantId = selectedVariant.getAttribute("value");
        const variantPrice = parseFloat(selectedVariant.dataset.price) / 100;
        const formattedPrice = variantPrice.toLocaleString("nl-NL", {
          style: "currency",
          currency: "{{ shop.currency }}",
          minimumFractionDigits: 2
        });
        const buttonText = "Add to Cart - " + formattedPrice;
        addToCartButton.href = `/cart/add?id=${variantId}`;
        addToCartButton.textContent = buttonText;

// Update prices
        const variantComparePrice = parseFloat(selectedVariant.dataset.comparePrice) / 100;
        const formattedComparePrice = variantComparePrice.toLocaleString("nl-NL", {
          style: "currency",
          currency: "{{ shop.currency }}",
          minimumFractionDigits: 2
        });
        price.textContent = formattedPrice;
        comparePrice.textContent = formattedComparePrice;

// Update discount
        const discountAmount = Math.round((variantComparePrice - variantPrice) * 100) / 100;
        const formattedDiscount = discountAmount.toLocaleString("nl-NL", {minimumFractionDigits: 0}).replace(/ /g, '\u00a0');
        discountSpan.textContent = formattedDiscount;
      }
    }

// Select the first variant on page load
    const firstColor = document.querySelector(".swatch-Kleur input:first-of-type");
    const firstSize = document.querySelector(".swatch-Aantal input:first-of-type");
    firstColor.checked = true;
    firstSize.checked = true;
    updateAddToCartButton();

    colorButtons.forEach(button => button.addEventListener("click", updateAddToCartButton));
    sizeButtons.forEach(button => button.addEventListener("click", updateAddToCartButton));
  });
</script>