
    <div class="page-padding pdp-section">
      <div class="container-v1">
        <div class="product-inner-container">
          <div class="product-section-left">
            <div class="product-desktop-imgs">
              {%- for block in section.blocks -%}{%- if block.type == "hero_afbeelding" -%}<div class="product-image" block.shopify_attributes>{%- if block.settings.afbeelding == nil -%}<img src="{{ 'image-1_1.png' | asset_url }}" loading="lazy" sizes="(max-width: 991px) 100vw, 46vw" srcset="{{ 'image-1_1-p-500.png' | asset_url }} 500w, {{ 'image-1_1.png' | asset_url }} 608w" alt="" class="product-img">{%- else -%}<img src="{{ block.settings.afbeelding.src | img_url: 'master' }}" loading="lazy" alt="{{ block.settings.afbeelding.alt | escape }}" class="product-img" srcset="{{ block.settings.afbeelding | img_url: '1920x' }} 1920w,{{ block.settings.afbeelding | img_url: '1600x' }} 1600w,{{ block.settings.afbeelding | img_url: '1366x' }} 1366w,{{ block.settings.afbeelding | img_url: '1024x' }} 1024w,{{ block.settings.afbeelding | img_url: '768x' }} 768w,{{ block.settings.afbeelding | img_url: '640x' }} 640w">{%- endif -%}
                {%- if block.settings.labels_aanuit -%}<div class="desktop-pdp-badges">
                  {%- if block.settings.product_label_aanuit -%}<div class="product-images-label-desktop">{%- if block.settings.product_label_icon == nil -%}<img src="{{ 'vlam-1.svg' | asset_url }}" loading="lazy" alt="" class="label-img">{%- else -%}<img src="{{ block.settings.product_label_icon.src | img_url: 'master' }}" loading="lazy" alt="{{ block.settings.product_label_icon.alt | escape }}" class="label-img" srcset="{{ block.settings.product_label_icon | img_url: '1920x' }} 1920w,{{ block.settings.product_label_icon | img_url: '1600x' }} 1600w,{{ block.settings.product_label_icon | img_url: '1366x' }} 1366w,{{ block.settings.product_label_icon | img_url: '1024x' }} 1024w,{{ block.settings.product_label_icon | img_url: '768x' }} 768w,{{ block.settings.product_label_icon | img_url: '640x' }} 640w">{%- endif -%}
                    <div>{{ block.settings.label_text | newline_to_br }}</div>
                  </div>{%- endif -%}
                  {%- if block.settings.trust_badges_aanuit -%}<div class="trust-badges">
                    {%- if block.settings.badge_1_aanuit -%}<div id="w-node-ae0253a5-f8a5-a265-fbc0-6da1bf8cb40d-bf8cb3ff" class="badge-img">{%- if block.settings.badge_1 == nil -%}<img src="{{ 'image-3.png' | asset_url }}" loading="lazy" alt="" class="badge-img-inner">{%- else -%}<img src="{{ block.settings.badge_1.src | img_url: 'master' }}" loading="lazy" alt="{{ block.settings.badge_1.alt | escape }}" class="badge-img-inner" srcset="{{ block.settings.badge_1 | img_url: '1920x' }} 1920w,{{ block.settings.badge_1 | img_url: '1600x' }} 1600w,{{ block.settings.badge_1 | img_url: '1366x' }} 1366w,{{ block.settings.badge_1 | img_url: '1024x' }} 1024w,{{ block.settings.badge_1 | img_url: '768x' }} 768w,{{ block.settings.badge_1 | img_url: '640x' }} 640w">{%- endif -%}</div>{%- endif -%}
                    {%- if block.settings.badge_2_aanuit -%}<div id="w-node-ae0253a5-f8a5-a265-fbc0-6da1bf8cb40f-bf8cb3ff" class="badge-img">{%- if block.settings.badge_2 == nil -%}<img src="{{ 'image-4.png' | asset_url }}" loading="lazy" sizes="(max-width: 991px) 100vw, 50.5px" srcset="{{ 'image-4-p-500.png' | asset_url }} 500w, {{ 'image-4.png' | asset_url }} 532w" alt="" class="badge-img-inner">{%- else -%}<img src="{{ block.settings.badge_2.src | img_url: 'master' }}" loading="lazy" alt="{{ block.settings.badge_2.alt | escape }}" class="badge-img-inner" srcset="{{ block.settings.badge_2 | img_url: '1920x' }} 1920w,{{ block.settings.badge_2 | img_url: '1600x' }} 1600w,{{ block.settings.badge_2 | img_url: '1366x' }} 1366w,{{ block.settings.badge_2 | img_url: '1024x' }} 1024w,{{ block.settings.badge_2 | img_url: '768x' }} 768w,{{ block.settings.badge_2 | img_url: '640x' }} 640w">{%- endif -%}</div>{%- endif -%}
                  </div>{%- endif -%}
                </div>{%- endif -%}
              </div>{%- endif -%}{%- endfor -%}
              {%- for block in section.blocks -%}{%- if block.type == "2_afbeeldingen" -%}<div class="product-images-row" block.shopify_attributes>
                <div class="product-row-img">{%- if block.settings.afbeelding_1 == nil -%}<img src="{{ 'image_2.png' | asset_url }}" loading="lazy" sizes="(max-width: 991px) 100vw, 23vw" srcset="{{ 'image_2-p-500.png' | asset_url }} 500w, {{ 'image_2.png' | asset_url }} 608w" alt="" class="product-img">{%- else -%}<img src="{{ block.settings.afbeelding_1.src | img_url: 'master' }}" loading="lazy" alt="{{ block.settings.afbeelding_1.alt | escape }}" class="product-img" srcset="{{ block.settings.afbeelding_1 | img_url: '1920x' }} 1920w,{{ block.settings.afbeelding_1 | img_url: '1600x' }} 1600w,{{ block.settings.afbeelding_1 | img_url: '1366x' }} 1366w,{{ block.settings.afbeelding_1 | img_url: '1024x' }} 1024w,{{ block.settings.afbeelding_1 | img_url: '768x' }} 768w,{{ block.settings.afbeelding_1 | img_url: '640x' }} 640w">{%- endif -%}</div>
                <div class="product-row-img">{%- if block.settings.afbeelding_2 == nil -%}<img src="{{ 'image_1.png' | asset_url }}" loading="lazy" sizes="(max-width: 991px) 100vw, 23vw" srcset="{{ 'image_1-p-500.png' | asset_url }} 500w, {{ 'image_1.png' | asset_url }} 608w" alt="" class="product-img">{%- else -%}<img src="{{ block.settings.afbeelding_2.src | img_url: 'master' }}" loading="lazy" alt="{{ block.settings.afbeelding_2.alt | escape }}" class="product-img" srcset="{{ block.settings.afbeelding_2 | img_url: '1920x' }} 1920w,{{ block.settings.afbeelding_2 | img_url: '1600x' }} 1600w,{{ block.settings.afbeelding_2 | img_url: '1366x' }} 1366w,{{ block.settings.afbeelding_2 | img_url: '1024x' }} 1024w,{{ block.settings.afbeelding_2 | img_url: '768x' }} 768w,{{ block.settings.afbeelding_2 | img_url: '640x' }} 640w">{%- endif -%}</div>
              </div>{%- endif -%}{%- endfor -%}
              <div option:block="Afbeelding" class="product-image">{%- if section.settings.afbeelding == nil -%}<img src="{{ 'image-1.png' | asset_url }}" loading="lazy" sizes="(max-width: 991px) 100vw, 46vw" srcset="{{ 'image-1-p-500.png' | asset_url }} 500w, {{ 'image-1.png' | asset_url }} 774w" alt="" class="product-img">{%- else -%}<img src="{{ section.settings.afbeelding.src | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.afbeelding.alt | escape }}" class="product-img" srcset="{{ section.settings.afbeelding | img_url: '1920x' }} 1920w,{{ section.settings.afbeelding | img_url: '1600x' }} 1600w,{{ section.settings.afbeelding | img_url: '1366x' }} 1366w,{{ section.settings.afbeelding | img_url: '1024x' }} 1024w,{{ section.settings.afbeelding | img_url: '768x' }} 768w,{{ section.settings.afbeelding | img_url: '640x' }} 640w">{%- endif -%}</div>
            </div>
            <div class="product-slider pdp-slider">
              <div class="product-images-label"><img src="{{ 'vlam-1.svg' | asset_url }}" loading="lazy" alt="" class="label-img">
                <div>{{ 't5fc48b6c' | t }}</div>
              </div>
              <div id="Product-Images-Swiper" class="swiper-container swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><img src="{{ 'image-1_1.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 31vw, (max-width: 991px) 32vw, 100vw" srcset="{{ 'image-1_1-p-500.png' | asset_url }} 500w, {{ 'image-1_1.png' | asset_url }} 608w" alt="" class="product-img-slide">
                    <div class="product-img-badges">
                      <div class="badge-img"><img src="{{ 'image-3.png' | asset_url }}" loading="lazy" alt="" class="badge-img-inner"></div>
                      <div class="badge-img"><img src="{{ 'image-4.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 25.25px, (max-width: 991px) 50.5px, 100vw" srcset="{{ 'image-4-p-500.png' | asset_url }} 500w, {{ 'image-4.png' | asset_url }} 532w" alt="" class="badge-img-inner"></div>
                    </div>
                  </div>
                  <div class="swiper-slide"><img src="{{ 'image_2.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 31vw, (max-width: 991px) 32vw, 100vw" srcset="{{ 'image_2-p-500.png' | asset_url }} 500w, {{ 'image_2.png' | asset_url }} 608w" alt="" class="product-img-slide"></div>
                  <div class="swiper-slide"><img src="{{ 'image_1.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 31vw, (max-width: 991px) 32vw, 100vw" srcset="{{ 'image_1-p-500.png' | asset_url }} 500w, {{ 'image_1.png' | asset_url }} 608w" alt="" class="product-img-slide"></div>
                </div>
                <div class="product-swiper-nav">
                  <div id="product-prev-arrow" class="product-swiper-arrow"><img src="{{ 'ic20-arrow-right-1.svg' | asset_url }}" loading="lazy" alt="" class="slider-arrow-icon"></div>
                  <div id="ProductSwiperPagination" class="swiper-pagination-pdp swiper-pagination-bullets swiper-pagination-horizontal">
                    <div class="swiper-pagaintion-bullet"></div>
                  </div>
                  <div id="product-next-arrow" class="product-swiper-arrow"><img src="{{ 'ic20-arrow-right.svg' | asset_url }}" loading="lazy" alt="" class="slider-arrow-icon"></div>
                </div>
              </div>
              <div class="custom-code-do-not-delete w-embed">
                <style>
  #Product-Images-Swiper .swiper-slide {
    position: relative !important;
  }
</style>
              </div>
            </div>
          </div>
          <div class="product-section-right">
            <div class="product-sec-info">
              <h1 class="product-h1">{{ 'tn7f0a136c' | t }}</h1>
              <div class="product-reviews"><img src="{{ 'review-stars.svg' | asset_url }}" loading="lazy" alt="" class="review-stars desktop">
                <div class="review-text-indicator">{{ 't11ce73a6' | t }}</div>
              </div>
            </div>
            <div id="w-node-ae0253a5-f8a5-a265-fbc0-6da1bf8cb43a-bf8cb3ff" class="benefit-text-blocks">
              {%- for block in section.blocks -%}{%- if block.type == "usp" -%}<div block.shopify_attributes>
                <div class="benefit-text-block">{{ 't26b847' | t }}</div>
              </div>{%- endif -%}{%- endfor -%}
            </div>
            <div class="product-info-grid">
              <ul id="w-node-ae0253a5-f8a5-a265-fbc0-6da1bf8cb43f-bf8cb3ff" role="list" class="product-section-usps w-list-unstyled">
                {%- for block in section.blocks -%}{%- if block.type == "usp_icon_text" -%}<li class="product-section-usp" block.shopify_attributes>
                  <div class="usp-icon-wrapper-pdp">{%- if block.settings.afbeelding == nil -%}<img src="{{ 'temperatuur-4.svg' | asset_url }}" loading="lazy" alt="" class="usp-icon-pdp">{%- else -%}<img src="{{ block.settings.afbeelding.src | img_url: 'master' }}" loading="lazy" alt="{{ block.settings.afbeelding.alt | escape }}" class="usp-icon-pdp" srcset="{{ block.settings.afbeelding | img_url: '1920x' }} 1920w,{{ block.settings.afbeelding | img_url: '1600x' }} 1600w,{{ block.settings.afbeelding | img_url: '1366x' }} 1366w,{{ block.settings.afbeelding | img_url: '1024x' }} 1024w,{{ block.settings.afbeelding | img_url: '768x' }} 768w,{{ block.settings.afbeelding | img_url: '640x' }} 640w">{%- endif -%}</div>
                  <div class="div-block-5">
                    <div>{{ block.settings.waardepropositie | newline_to_br }}</div>
                  </div>
                </li>{%- endif -%}{%- endfor -%}
              </ul>
              <div id="w-node-ae0253a5-f8a5-a265-fbc0-6da1bf8cb448-bf8cb3ff" class="price-wrapper">
                <div class="product-price">
                  <div class="price-pdp">{{ 'tn57533e42' | t }}</div>
                  <div class="before-price-pdp">{{ 'tn570cc8bd' | t }}</div>
                </div>
                <div class="save-label">{{ 'tn773c9244' | t }}</div>
              </div>
            </div>
            <div class="product-cart-form w-form">
              {%- form "contact",  class: "product-cart-form-inner" -%}<label for="contact[email]">{{ 't3ff5b7c' | t }}</label><input type="email" name="contact[email]" class="w-input" required="">
                <div id="w-node-ae0253a5-f8a5-a265-fbc0-6da1bf8cb452-bf8cb3ff" class="product-selectors">
                  <div aria-label="add description here" role="radiogroup" class="pdp-swatch-group"><label class="pdp-swatch-info"><strong>{{ 'tn61d06f63' | t }}</strong>{{ 'tn67e75256' | t }}</label>
                    <div class="pdp-swatch-column"><label class="pdp-swatch-field is-active w-radio">
                        <div class="w-form-formradioinput w-form-formradioinput--inputType-custom fs-radio_button w-radio-input"></div><input type="radio" name="contact[radio_]" id="gingerrood" value="Radio B" data-name="Radio 2" style="opacity:0;position:absolute;z-index:-1"><span fs-cmsfilter-field="category" fs-cmsfilter-active="is-active" class="swatch-color w-form-label" for="gingerrood">{{ 'tn5e1bfe36' | t }}</span>
                      </label><label class="pdp-swatch-field w-radio">
                        <div class="w-form-formradioinput w-form-formradioinput--inputType-custom fs-radio_button w-radio-input"></div><input type="radio" name="contact[radio_]" id="geel" value="Radio B" data-name="Radio 2" style="opacity:0;position:absolute;z-index:-1"><span fs-cmsfilter-field="category" fs-cmsfilter-active="is-active" class="swatch-color w-form-label" for="geel">{{ 't21ce25' | t }}</span>
                      </label><label class="pdp-swatch-field w-radio">
                        <div class="w-form-formradioinput w-form-formradioinput--inputType-custom fs-radio_button w-radio-input"></div><input type="radio" name="contact[radio_]" id="navyblauw" value="Radio B" data-name="Radio 2" style="opacity:0;position:absolute;z-index:-1"><span fs-cmsfilter-field="category" fs-cmsfilter-active="is-active" class="swatch-color w-form-label" for="navyblauw">{{ 'tn44e22291' | t }}</span>
                      </label></div>
                  </div>
                  <div aria-label="add description here" role="radiogroup" class="pdp-swatch-group"><label class="pdp-swatch-info"><strong>{{ 'tn1da6e1d1' | t }}</strong>{{ 'tn678d0ee9' | t }}</label>
                    <div class="amount-selectors-inner-wrapper">
                      <div class="amount-labels">
                        <div id="w-node-ae0253a5-f8a5-a265-fbc0-6da1bf8cb46c-bf8cb3ff" class="amount-label">{{ 't26d73001' | t }}</div>
                      </div>
                      <div class="pdp-amount-column"><label class="pdp-amount-field w-radio">
                          <div class="w-form-formradioinput w-form-formradioinput--inputType-custom fs-radio_button_amount w-radio-input"></div><input type="radio" name="contact[radio_]" id="gingerrood" value="Radio B" data-name="Radio 2" style="opacity:0;position:absolute;z-index:-1"><span fs-cmsfilter-field="category" fs-cmsfilter-active="is-active" class="w-form-label" for="gingerrood">{{ 't55876746' | t }}</span>
                          <div id="w-node-ae0253a5-f8a5-a265-fbc0-6da1bf8cb473-bf8cb3ff" class="prices"><span class="before">{{ 'tn57533ec3' | t }}</span>{{ 't609aa41c' | t }}</div>
                        </label><label class="pdp-amount-field w-radio">
                          <div class="w-form-formradioinput w-form-formradioinput--inputType-custom fs-radio_button_amount w-radio-input"></div><input type="radio" name="contact[radio_]" id="geel" value="Radio B" data-name="Radio 2" style="opacity:0;position:absolute;z-index:-1"><span fs-cmsfilter-field="category" fs-cmsfilter-active="is-active" class="radio-button-label-3 w-form-label" for="geel">{{ 'tn6fb442f2' | t }}</span>
                          <div id="w-node-ae0253a5-f8a5-a265-fbc0-6da1bf8cb47b-bf8cb3ff" class="prices"><span class="before">{{ 'tn57533ec3' | t }}</span>{{ 't609aa41c' | t }}</div>
                        </label><label class="pdp-amount-field is-active w-radio">
                          <div class="w-form-formradioinput w-form-formradioinput--inputType-custom fs-radio_button_amount w-radio-input"></div><input type="radio" name="contact[radio_]" id="navyblauw" value="Radio B" data-name="Radio 2" style="opacity:0;position:absolute;z-index:-1"><span fs-cmsfilter-field="category" fs-cmsfilter-active="is-active" class="w-form-label" for="navyblauw">{{ 't898dd3b' | t }}</span>
                          <div id="w-node-ae0253a5-f8a5-a265-fbc0-6da1bf8cb483-bf8cb3ff" class="prices"><span class="before">{{ 't69410775' | t }}</span>{{ 'tnf9f7b04' | t }}</div>
                        </label></div>
                    </div>
                  </div>
                </div>
                <div class="pdp-guarantee">{{ section.settings.atc_garantie | newline_to_br }}</div>
                <a href="#" class="checkout-btn w-inline-block">{{ 'tn2775094d' | t }}</a>
                <div class="payment-icons pdp">
                  <div class="payment-icon"><img src="{{ 'bancontact-1b5f5b192aedfa7ce6d2f62dccc81a01c97e6f4b48c301e8c54c610e9276de94.png.svg' | asset_url }}" loading="lazy" alt="" class="payment-icon-img"></div>
                  <div class="payment-icon"><img src="{{ 'klarna-389801c6056cb5600b4f05f72ebc2c58e4947688c6c4f5e6ccea41f7973d3a28.svg.svg' | asset_url }}" loading="lazy" alt="" class="payment-icon-img"></div>
                  <div class="payment-icon"><img src="{{ 'paypal-logo_uujmio.png.svg' | asset_url }}" loading="lazy" alt="" class="payment-icon-img"></div>
                  <div class="payment-icon"><img src="{{ 'master-173035bc8124581983d4efa50cf8626e8553c2b311353fbf67485f9c1a2b88d1.svg.svg' | asset_url }}" loading="lazy" alt="" class="payment-icon-img"></div>
                  <div class="payment-icon"><img src="{{ 'maestro-d2055c6b416c46cf134f393e1df6e0ba31722b623870f954afd392092207889c.svg.svg' | asset_url }}" loading="lazy" alt="" class="payment-icon-img"></div>
                  <div class="payment-icon"><img src="{{ 'visa-319d545c6fd255c9aad5eeaad21fd6f7f7b4fdbdb1a35ce83b89cca12a187f00.svg.svg' | asset_url }}" loading="lazy" alt="" class="payment-icon-img"></div>
                  <div class="payment-icon"><img src="{{ 'american_express-2264c9b8b57b23b0b0831827e90cd7bcda2836adc42a912ebedf545dead35b20.svg.svg' | asset_url }}" loading="lazy" alt="" class="payment-icon-img"></div>
                </div>
              {%- assign form_success = form.posted_successfully? -%}{%- assign form_errors = form.errors -%}{%- render "form-general-script", form_success: form_success, form_errors: form_errors -%}{%- endform -%}
              <div class="delete-this-div w-form-done  {% if form_success %}form-posted-successfully{% endif %}">
                <div>{{ 't5a0ea5a1' | t }}</div>
              </div>
              {%- unless form_success -%}<div class="delete-this-div w-form-fail  {% if form.errors %}form-has-errors{% endif %}">
                <div>{%- render "form-errors", form_errors: form_errors -%}</div>
              </div>{%- endunless -%}
            </div>
            <div class="slidecart-section">
              <div id="sidecart_wrapper" class="overlay-banner">
                <div class="overlay-color"></div>
                <div class="shopping-sidebar">
                  <div id="checkout_form" class="shopping-bar-sidewrapper w-form">
                    <div id="slidecart-main-content-wrapper" class="sidecart-main-content-wrapper">
                      <div class="shopping-bar-topbar">
                        <div class="overlay-sidebar-title">{{ section.settings.titel | newline_to_br }}</div>
                        <a data-ajax-cart-toggle-class-button="js-my-cart-open | remove" data-w-id="4c4ab614-3a3a-5bd6-4837-ea48db96b900" href="#" class="overlay-sidebar-close-btn w-inline-block"><img src="{{ 'ic24-close.svg' | asset_url }}" loading="lazy" alt="" class="close-btn-img"></a>
                      </div>
                      <div class="shopping-bar-shipping-banner">
                        <div class="shipping-progress-text">{{ 't6a2ee5df' | t }}<strong>{{ 'tn3c91ae66' | t }}</strong>{{ 't55f6d8d8' | t }}</div>
                        <div class="content-bar">
                          <div class="shipping-progress-bar"></div>
                        </div>
                        <div class="cart-trust">
                          <div class="cart-trust-inner">
                            <div class="cart-trust-checkmark">{%- if section.settings.motivator_icon == nil -%}<img src="{{ 'trust-check.svg' | asset_url }}" loading="lazy" alt="" class="cart-trust-icon-img">{%- else -%}<img src="{{ section.settings.motivator_icon.src | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.motivator_icon.alt | escape }}" class="cart-trust-icon-img" srcset="{{ section.settings.motivator_icon | img_url: '1920x' }} 1920w,{{ section.settings.motivator_icon | img_url: '1600x' }} 1600w,{{ section.settings.motivator_icon | img_url: '1366x' }} 1366w,{{ section.settings.motivator_icon | img_url: '1024x' }} 1024w,{{ section.settings.motivator_icon | img_url: '768x' }} 768w,{{ section.settings.motivator_icon | img_url: '640x' }} 640w">{%- endif -%}</div>
                            <div>{{ section.settings.motivator | newline_to_br }}</div>
                          </div>
                          <div class="cart-line-seperator"></div>
                        </div>
                      </div>
                      <div class="shopping-bar-lineitems">
                        <div class="shopping-item">
                          <div class="shopping-item-inner">
                            <div class="shopping-item-left"><img src="{{ 'product-image.png' | asset_url }}" loading="lazy" alt="" class="shopping-item-image">
                              <div class="shopping-item-details">
                                <div class="shopping-item-title">{{ 't18d94975' | t }}</div>
                                <div class="shopping-item-variant-info">{{ 'tn5e1bfe36' | t }}</div>
                                <div class="add-shopping-grid">
                                  <a data-ajax-cart-request-button="" href="#" class="remove-shopping-button w-inline-block"><img src="{{ 'minus.svg' | asset_url }}" loading="lazy" alt=""></a>
                                  <div id="w-node-_4c4ab614-3a3a-5bd6-4837-ea48db96b920-db96b8f5" class="quantity-inside-sidecart">{{ 't32' | t }}</div>
                                  <a data-ajax-cart-request-button="" href="#" class="add-shopping-button w-inline-block"><img src="{{ 'plus.svg' | asset_url }}" loading="lazy" alt=""></a>
                                </div>
                              </div>
                            </div>
                            <div class="shopping-total-item-price-wrapper">
                              <div class="shopping-total-item-price">{{ 'tn3c2cc404' | t }}</div>
                              <div class="shopping-before-item-price">{{ 'tn570cc8bd' | t }}</div>
                            </div>
                          </div>
                          <a href="#" class="shopping-item-remove-button w-inline-block"><img src="{{ 'ic24-close.svg' | asset_url }}" loading="lazy" alt="" class="close-btn-img"></a>
                        </div>
                        <div class="shopping-item">
                          <div class="shopping-item-inner">
                            <div class="shopping-item-left"><img src="{{ 'hero-image.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 0px, 100vw" srcset="{{ 'hero-image-p-500.png' | asset_url }} 500w, {{ 'hero-image-p-800.png' | asset_url }} 800w, {{ 'hero-image-p-1080.png' | asset_url }} 1080w, {{ 'hero-image.png' | asset_url }} 1512w" alt="" class="shopping-item-image">
                              <div class="shopping-item-details">
                                <div class="shopping-item-title">{{ 't18d94975' | t }}</div>
                                <div class="shopping-item-variant-info">{{ 'tn5e1bfe36' | t }}</div>
                                <div class="add-shopping-grid">
                                  <a data-ajax-cart-request-button="" href="#" class="remove-shopping-button w-inline-block"><img src="{{ 'minus.svg' | asset_url }}" loading="lazy" alt=""></a>
                                  <div id="w-node-_4c4ab614-3a3a-5bd6-4837-ea48db96b937-db96b8f5" class="quantity-inside-sidecart">{{ 't31' | t }}</div>
                                  <a data-ajax-cart-request-button="" href="#" class="add-shopping-button w-inline-block"><img src="{{ 'plus.svg' | asset_url }}" loading="lazy" alt=""></a>
                                </div>
                              </div>
                            </div>
                            <div class="shopping-total-item-price-wrapper">
                              <div class="shopping-total-item-price when-no-comparison">{{ 'tn3c9d800d' | t }}</div>
                            </div>
                          </div>
                          <a href="#" class="shopping-item-remove-button w-inline-block"><img src="{{ 'ic24-close.svg' | asset_url }}" loading="lazy" alt="" class="close-btn-img"></a>
                        </div>
                        <div class="cart-line-seperator"></div>
                      </div>
                      <div class="upsell-cart">
                        <div class="upsell-cart-title">{{ section.settings.upsell_title | newline_to_br }}</div>
                        <div class="upsell-cart-container">
                          <div class="upsell-cart-cell">
                            <div class="upsell-cart-image"><img src="{{ 'product-image.png' | asset_url }}" loading="lazy" alt="" class="img-cover-absolute"></div>
                            <div class="upsell-cart-info">
                              <div class="upsell-cart-product-title">{{ 't18d94975' | t }}</div>
                              <div class="upsell-cart-product-price">{{ 'tn3c91ae66' | t }}</div>
                            </div>
                            <div class="upsell-cart-swatches">
                              <div class="upsell-cart-swatches-title">{{ 't2ac97090' | t }}</div>
                              <div class="upsell-cart-swatches-container">
                                <div class="upsell-cart-swatch brown active"></div>
                                <div class="upsell-cart-swatch yellow"></div>
                                <div class="upsell-cart-swatch navy"></div>
                              </div>
                            </div>
                            <a href="#" class="upsell-cart-atc w-inline-block">{{ 'tn71c64b52' | t }}</a>
                          </div>
                          <div class="upsell-cart-cell">
                            <div class="upsell-cart-image"><img src="{{ 'product-image.png' | asset_url }}" loading="lazy" alt="" class="img-cover-absolute"></div>
                            <div class="upsell-cart-info">
                              <div class="upsell-cart-product-title">{{ 't18d94975' | t }}</div>
                              <div class="upsell-cart-product-price">{{ 'tn3c91ae66' | t }}</div>
                            </div>
                            <div class="upsell-cart-swatches">
                              <div class="upsell-cart-swatches-title">{{ 't2ac97090' | t }}</div>
                              <div class="upsell-cart-swatches-container">
                                <div class="upsell-cart-swatch brown active"></div>
                                <div class="upsell-cart-swatch yellow"></div>
                                <div class="upsell-cart-swatch navy"></div>
                              </div>
                            </div>
                            <a href="#" class="upsell-cart-atc w-inline-block">{{ 'tn71c64b52' | t }}</a>
                          </div>
                        </div>
                        <div class="custom-code-do-not-delete w-embed">
                          <style>
	.upsell-cart-container {
  	overflow: auto hidden;
  }
</style>
                        </div>
                      </div>
                    </div>
                    {%- form "contact",  class: "delete-this-div" -%}<label for="contact[email]">{{ 't3ff5b7c' | t }}</label><input type="email" name="contact[email]" class="w-input" required="">{%- assign form_success = form.posted_successfully? -%}{%- assign form_errors = form.errors -%}{%- render "form-general-script", form_success: form_success, form_errors: form_errors -%}{%- endform -%}
                    <div class="delete-this-div w-form-done  {% if form_success %}form-posted-successfully{% endif %}"></div>
                    {%- unless form_success -%}<div class="delete-this-div w-form-fail  {% if form.errors %}form-has-errors{% endif %}">{%- render "form-errors", form_errors: form_errors -%}</div>{%- endunless -%}
                  </div>
                  <div class="shipping-bar-footer">
                    <div class="shopping-info">
                      <div>{{ 'tn677f458d' | t }}</div>
                      <div>{{ 'tndde9e1a' | t }}</div>
                    </div>
                    <div class="shopping-info">
                      <div>{{ 'tn1aeabe32' | t }}</div>
                      <div>{{ 'tn337fc5c0' | t }}</div>
                    </div>
                    <div class="shopping-info total">
                      <div>{{ 'tn6a56878d' | t }}</div>
                      <div>{{ 'tndd34071' | t }}</div>
                    </div>
                    <div class="side-cart-guarantee">{{ section.settings.atc_garantie | newline_to_br }}</div>
                    <a href="#" class="checkout-btn w-inline-block">{{ 'tn4ac247ab' | t }}</a>
                    <div class="payment-icons">
                      <div class="payment-icon"><img src="{{ 'bancontact-1b5f5b192aedfa7ce6d2f62dccc81a01c97e6f4b48c301e8c54c610e9276de94.png.svg' | asset_url }}" loading="lazy" alt="" class="payment-icon-img"></div>
                      <div class="payment-icon"><img src="{{ 'klarna-389801c6056cb5600b4f05f72ebc2c58e4947688c6c4f5e6ccea41f7973d3a28.svg.svg' | asset_url }}" loading="lazy" alt="" class="payment-icon-img"></div>
                      <div class="payment-icon"><img src="{{ 'paypal-logo_uujmio.png.svg' | asset_url }}" loading="lazy" alt="" class="payment-icon-img"></div>
                      <div class="payment-icon"><img src="{{ 'master-173035bc8124581983d4efa50cf8626e8553c2b311353fbf67485f9c1a2b88d1.svg.svg' | asset_url }}" loading="lazy" alt="" class="payment-icon-img"></div>
                      <div class="payment-icon"><img src="{{ 'maestro-d2055c6b416c46cf134f393e1df6e0ba31722b623870f954afd392092207889c.svg.svg' | asset_url }}" loading="lazy" alt="" class="payment-icon-img"></div>
                      <div class="payment-icon"><img src="{{ 'american_express-2264c9b8b57b23b0b0831827e90cd7bcda2836adc42a912ebedf545dead35b20.svg.svg' | asset_url }}" loading="lazy" alt="" class="payment-icon-img"></div>
                      <div class="payment-icon"><img src="{{ 'visa-319d545c6fd255c9aad5eeaad21fd6f7f7b4fdbdb1a35ce83b89cca12a187f00.svg.svg' | asset_url }}" loading="lazy" alt="" class="payment-icon-img"></div>
                    </div>
                  </div>
                  <div class="w-embed">
                    <style>
#sidecart-main-content-wrapper {
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  width: inherit;
}
</style>
                  </div>
                </div>
              </div>
            </div>
            <div class="slidecart-section">
              <div id="sidecart_wrapper" class="overlay-banner">
                <div class="overlay-color"></div>
                <div class="shopping-sidebar">
                  <div id="checkout_form" class="shopping-bar-sidewrapper w-form">
                    <div id="slidecart-main-content-wrapper" class="sidecart-main-content-wrapper">
                      <div class="shopping-bar-topbar">
                        <div class="overlay-sidebar-title">{{ section.settings.titel | newline_to_br }}</div>
                        <a data-ajax-cart-toggle-class-button="js-my-cart-open | remove" data-w-id="4c4ab614-3a3a-5bd6-4837-ea48db96b900" href="#" class="overlay-sidebar-close-btn w-inline-block"><img src="{{ 'ic24-close.svg' | asset_url }}" loading="lazy" alt="" class="close-btn-img"></a>
                      </div>
                      <div class="shopping-bar-shipping-banner">
                        <div class="shipping-progress-text">{{ 't6a2ee5df' | t }}<strong>{{ 'tn3c91ae66' | t }}</strong>{{ 't55f6d8d8' | t }}</div>
                        <div class="content-bar">
                          <div class="shipping-progress-bar"></div>
                        </div>
                        <div class="cart-trust">
                          <div class="cart-trust-inner">
                            <div class="cart-trust-checkmark">{%- if section.settings.motivator_icon == nil -%}<img src="{{ 'trust-check.svg' | asset_url }}" loading="lazy" alt="" class="cart-trust-icon-img">{%- else -%}<img src="{{ section.settings.motivator_icon.src | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.motivator_icon.alt | escape }}" class="cart-trust-icon-img" srcset="{{ section.settings.motivator_icon | img_url: '1920x' }} 1920w,{{ section.settings.motivator_icon | img_url: '1600x' }} 1600w,{{ section.settings.motivator_icon | img_url: '1366x' }} 1366w,{{ section.settings.motivator_icon | img_url: '1024x' }} 1024w,{{ section.settings.motivator_icon | img_url: '768x' }} 768w,{{ section.settings.motivator_icon | img_url: '640x' }} 640w">{%- endif -%}</div>
                            <div>{{ section.settings.motivator | newline_to_br }}</div>
                          </div>
                          <div class="cart-line-seperator"></div>
                        </div>
                      </div>
                      <div class="shopping-bar-lineitems">
                        <div class="shopping-item">
                          <div class="shopping-item-inner">
                            <div class="shopping-item-left"><img src="{{ 'product-image.png' | asset_url }}" loading="lazy" alt="" class="shopping-item-image">
                              <div class="shopping-item-details">
                                <div class="shopping-item-title">{{ 't18d94975' | t }}</div>
                                <div class="shopping-item-variant-info">{{ 'tn5e1bfe36' | t }}</div>
                                <div class="add-shopping-grid">
                                  <a data-ajax-cart-request-button="" href="#" class="remove-shopping-button w-inline-block"><img src="{{ 'minus.svg' | asset_url }}" loading="lazy" alt=""></a>
                                  <div id="w-node-_4c4ab614-3a3a-5bd6-4837-ea48db96b920-db96b8f5" class="quantity-inside-sidecart">{{ 't32' | t }}</div>
                                  <a data-ajax-cart-request-button="" href="#" class="add-shopping-button w-inline-block"><img src="{{ 'plus.svg' | asset_url }}" loading="lazy" alt=""></a>
                                </div>
                              </div>
                            </div>
                            <div class="shopping-total-item-price-wrapper">
                              <div class="shopping-total-item-price">{{ 'tn3c2cc404' | t }}</div>
                              <div class="shopping-before-item-price">{{ 'tn570cc8bd' | t }}</div>
                            </div>
                          </div>
                          <a href="#" class="shopping-item-remove-button w-inline-block"><img src="{{ 'ic24-close.svg' | asset_url }}" loading="lazy" alt="" class="close-btn-img"></a>
                        </div>
                        <div class="shopping-item">
                          <div class="shopping-item-inner">
                            <div class="shopping-item-left"><img src="{{ 'hero-image.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 0px, 100vw" srcset="{{ 'hero-image-p-500.png' | asset_url }} 500w, {{ 'hero-image-p-800.png' | asset_url }} 800w, {{ 'hero-image-p-1080.png' | asset_url }} 1080w, {{ 'hero-image.png' | asset_url }} 1512w" alt="" class="shopping-item-image">
                              <div class="shopping-item-details">
                                <div class="shopping-item-title">{{ 't18d94975' | t }}</div>
                                <div class="shopping-item-variant-info">{{ 'tn5e1bfe36' | t }}</div>
                                <div class="add-shopping-grid">
                                  <a data-ajax-cart-request-button="" href="#" class="remove-shopping-button w-inline-block"><img src="{{ 'minus.svg' | asset_url }}" loading="lazy" alt=""></a>
                                  <div id="w-node-_4c4ab614-3a3a-5bd6-4837-ea48db96b937-db96b8f5" class="quantity-inside-sidecart">{{ 't31' | t }}</div>
                                  <a data-ajax-cart-request-button="" href="#" class="add-shopping-button w-inline-block"><img src="{{ 'plus.svg' | asset_url }}" loading="lazy" alt=""></a>
                                </div>
                              </div>
                            </div>
                            <div class="shopping-total-item-price-wrapper">
                              <div class="shopping-total-item-price when-no-comparison">{{ 'tn3c9d800d' | t }}</div>
                            </div>
                          </div>
                          <a href="#" class="shopping-item-remove-button w-inline-block"><img src="{{ 'ic24-close.svg' | asset_url }}" loading="lazy" alt="" class="close-btn-img"></a>
                        </div>
                        <div class="cart-line-seperator"></div>
                      </div>
                      <div class="upsell-cart">
                        <div class="upsell-cart-title">{{ section.settings.upsell_title | newline_to_br }}</div>
                        <div class="upsell-cart-container">
                          <div class="upsell-cart-cell">
                            <div class="upsell-cart-image"><img src="{{ 'product-image.png' | asset_url }}" loading="lazy" alt="" class="img-cover-absolute"></div>
                            <div class="upsell-cart-info">
                              <div class="upsell-cart-product-title">{{ 't18d94975' | t }}</div>
                              <div class="upsell-cart-product-price">{{ 'tn3c91ae66' | t }}</div>
                            </div>
                            <div class="upsell-cart-swatches">
                              <div class="upsell-cart-swatches-title">{{ 't2ac97090' | t }}</div>
                              <div class="upsell-cart-swatches-container">
                                <div class="upsell-cart-swatch brown active"></div>
                                <div class="upsell-cart-swatch yellow"></div>
                                <div class="upsell-cart-swatch navy"></div>
                              </div>
                            </div>
                            <a href="#" class="upsell-cart-atc w-inline-block">{{ 'tn71c64b52' | t }}</a>
                          </div>
                          <div class="upsell-cart-cell">
                            <div class="upsell-cart-image"><img src="{{ 'product-image.png' | asset_url }}" loading="lazy" alt="" class="img-cover-absolute"></div>
                            <div class="upsell-cart-info">
                              <div class="upsell-cart-product-title">{{ 't18d94975' | t }}</div>
                              <div class="upsell-cart-product-price">{{ 'tn3c91ae66' | t }}</div>
                            </div>
                            <div class="upsell-cart-swatches">
                              <div class="upsell-cart-swatches-title">{{ 't2ac97090' | t }}</div>
                              <div class="upsell-cart-swatches-container">
                                <div class="upsell-cart-swatch brown active"></div>
                                <div class="upsell-cart-swatch yellow"></div>
                                <div class="upsell-cart-swatch navy"></div>
                              </div>
                            </div>
                            <a href="#" class="upsell-cart-atc w-inline-block">{{ 'tn71c64b52' | t }}</a>
                          </div>
                        </div>
                        <div class="custom-code-do-not-delete w-embed">
                          <style>
	.upsell-cart-container {
  	overflow: auto hidden;
  }
</style>
                        </div>
                      </div>
                    </div>
                    {%- form "contact",  class: "delete-this-div" -%}<label for="contact[email]">{{ 't3ff5b7c' | t }}</label><input type="email" name="contact[email]" class="w-input" required="">{%- assign form_success = form.posted_successfully? -%}{%- assign form_errors = form.errors -%}{%- render "form-general-script", form_success: form_success, form_errors: form_errors -%}{%- endform -%}
                    <div class="delete-this-div w-form-done  {% if form_success %}form-posted-successfully{% endif %}"></div>
                    {%- unless form_success -%}<div class="delete-this-div w-form-fail  {% if form.errors %}form-has-errors{% endif %}">{%- render "form-errors", form_errors: form_errors -%}</div>{%- endunless -%}
                  </div>
                  <div class="shipping-bar-footer">
                    <div class="shopping-info">
                      <div>{{ 'tn677f458d' | t }}</div>
                      <div>{{ 'tndde9e1a' | t }}</div>
                    </div>
                    <div class="shopping-info">
                      <div>{{ 'tn1aeabe32' | t }}</div>
                      <div>{{ 'tn337fc5c0' | t }}</div>
                    </div>
                    <div class="shopping-info total">
                      <div>{{ 'tn6a56878d' | t }}</div>
                      <div>{{ 'tndd34071' | t }}</div>
                    </div>
                    <div class="side-cart-guarantee">{{ section.settings.atc_garantie | newline_to_br }}</div>
                    <a href="#" class="checkout-btn w-inline-block">{{ 'tn4ac247ab' | t }}</a>
                    <div class="payment-icons">
                      <div class="payment-icon"><img src="{{ 'bancontact-1b5f5b192aedfa7ce6d2f62dccc81a01c97e6f4b48c301e8c54c610e9276de94.png.svg' | asset_url }}" loading="lazy" alt="" class="payment-icon-img"></div>
                      <div class="payment-icon"><img src="{{ 'klarna-389801c6056cb5600b4f05f72ebc2c58e4947688c6c4f5e6ccea41f7973d3a28.svg.svg' | asset_url }}" loading="lazy" alt="" class="payment-icon-img"></div>
                      <div class="payment-icon"><img src="{{ 'paypal-logo_uujmio.png.svg' | asset_url }}" loading="lazy" alt="" class="payment-icon-img"></div>
                      <div class="payment-icon"><img src="{{ 'master-173035bc8124581983d4efa50cf8626e8553c2b311353fbf67485f9c1a2b88d1.svg.svg' | asset_url }}" loading="lazy" alt="" class="payment-icon-img"></div>
                      <div class="payment-icon"><img src="{{ 'maestro-d2055c6b416c46cf134f393e1df6e0ba31722b623870f954afd392092207889c.svg.svg' | asset_url }}" loading="lazy" alt="" class="payment-icon-img"></div>
                      <div class="payment-icon"><img src="{{ 'american_express-2264c9b8b57b23b0b0831827e90cd7bcda2836adc42a912ebedf545dead35b20.svg.svg' | asset_url }}" loading="lazy" alt="" class="payment-icon-img"></div>
                      <div class="payment-icon"><img src="{{ 'visa-319d545c6fd255c9aad5eeaad21fd6f7f7b4fdbdb1a35ce83b89cca12a187f00.svg.svg' | asset_url }}" loading="lazy" alt="" class="payment-icon-img"></div>
                    </div>
                  </div>
                  <div class="w-embed">
                    <style>
#sidecart-main-content-wrapper {
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  width: inherit;
}
</style>
                  </div>
                </div>
              </div>
            </div>
            <div class="slidecart-section">
              <div id="sidecart_wrapper" class="overlay-banner">
                <div class="overlay-color"></div>
                <div class="shopping-sidebar">
                  <div id="checkout_form" class="shopping-bar-sidewrapper w-form">
                    <div id="slidecart-main-content-wrapper" class="sidecart-main-content-wrapper">
                      <div class="shopping-bar-topbar">
                        <div class="overlay-sidebar-title">{{ section.settings.titel | newline_to_br }}</div>
                        <a data-ajax-cart-toggle-class-button="js-my-cart-open | remove" data-w-id="4c4ab614-3a3a-5bd6-4837-ea48db96b900" href="#" class="overlay-sidebar-close-btn w-inline-block"><img src="{{ 'ic24-close.svg' | asset_url }}" loading="lazy" alt="" class="close-btn-img"></a>
                      </div>
                      <div class="shopping-bar-shipping-banner">
                        <div class="shipping-progress-text">{{ 't6a2ee5df' | t }}<strong>{{ 'tn3c91ae66' | t }}</strong>{{ 't55f6d8d8' | t }}</div>
                        <div class="content-bar">
                          <div class="shipping-progress-bar"></div>
                        </div>
                        <div class="cart-trust">
                          <div class="cart-trust-inner">
                            <div class="cart-trust-checkmark">{%- if section.settings.motivator_icon == nil -%}<img src="{{ 'trust-check.svg' | asset_url }}" loading="lazy" alt="" class="cart-trust-icon-img">{%- else -%}<img src="{{ section.settings.motivator_icon.src | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.motivator_icon.alt | escape }}" class="cart-trust-icon-img" srcset="{{ section.settings.motivator_icon | img_url: '1920x' }} 1920w,{{ section.settings.motivator_icon | img_url: '1600x' }} 1600w,{{ section.settings.motivator_icon | img_url: '1366x' }} 1366w,{{ section.settings.motivator_icon | img_url: '1024x' }} 1024w,{{ section.settings.motivator_icon | img_url: '768x' }} 768w,{{ section.settings.motivator_icon | img_url: '640x' }} 640w">{%- endif -%}</div>
                            <div>{{ section.settings.motivator | newline_to_br }}</div>
                          </div>
                          <div class="cart-line-seperator"></div>
                        </div>
                      </div>
                      <div class="shopping-bar-lineitems">
                        <div class="shopping-item">
                          <div class="shopping-item-inner">
                            <div class="shopping-item-left"><img src="{{ 'product-image.png' | asset_url }}" loading="lazy" alt="" class="shopping-item-image">
                              <div class="shopping-item-details">
                                <div class="shopping-item-title">{{ 't18d94975' | t }}</div>
                                <div class="shopping-item-variant-info">{{ 'tn5e1bfe36' | t }}</div>
                                <div class="add-shopping-grid">
                                  <a data-ajax-cart-request-button="" href="#" class="remove-shopping-button w-inline-block"><img src="{{ 'minus.svg' | asset_url }}" loading="lazy" alt=""></a>
                                  <div id="w-node-_4c4ab614-3a3a-5bd6-4837-ea48db96b920-db96b8f5" class="quantity-inside-sidecart">{{ 't32' | t }}</div>
                                  <a data-ajax-cart-request-button="" href="#" class="add-shopping-button w-inline-block"><img src="{{ 'plus.svg' | asset_url }}" loading="lazy" alt=""></a>
                                </div>
                              </div>
                            </div>
                            <div class="shopping-total-item-price-wrapper">
                              <div class="shopping-total-item-price">{{ 'tn3c2cc404' | t }}</div>
                              <div class="shopping-before-item-price">{{ 'tn570cc8bd' | t }}</div>
                            </div>
                          </div>
                          <a href="#" class="shopping-item-remove-button w-inline-block"><img src="{{ 'ic24-close.svg' | asset_url }}" loading="lazy" alt="" class="close-btn-img"></a>
                        </div>
                        <div class="shopping-item">
                          <div class="shopping-item-inner">
                            <div class="shopping-item-left"><img src="{{ 'hero-image.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 0px, 100vw" srcset="{{ 'hero-image-p-500.png' | asset_url }} 500w, {{ 'hero-image-p-800.png' | asset_url }} 800w, {{ 'hero-image-p-1080.png' | asset_url }} 1080w, {{ 'hero-image.png' | asset_url }} 1512w" alt="" class="shopping-item-image">
                              <div class="shopping-item-details">
                                <div class="shopping-item-title">{{ 't18d94975' | t }}</div>
                                <div class="shopping-item-variant-info">{{ 'tn5e1bfe36' | t }}</div>
                                <div class="add-shopping-grid">
                                  <a data-ajax-cart-request-button="" href="#" class="remove-shopping-button w-inline-block"><img src="{{ 'minus.svg' | asset_url }}" loading="lazy" alt=""></a>
                                  <div id="w-node-_4c4ab614-3a3a-5bd6-4837-ea48db96b937-db96b8f5" class="quantity-inside-sidecart">{{ 't31' | t }}</div>
                                  <a data-ajax-cart-request-button="" href="#" class="add-shopping-button w-inline-block"><img src="{{ 'plus.svg' | asset_url }}" loading="lazy" alt=""></a>
                                </div>
                              </div>
                            </div>
                            <div class="shopping-total-item-price-wrapper">
                              <div class="shopping-total-item-price when-no-comparison">{{ 'tn3c9d800d' | t }}</div>
                            </div>
                          </div>
                          <a href="#" class="shopping-item-remove-button w-inline-block"><img src="{{ 'ic24-close.svg' | asset_url }}" loading="lazy" alt="" class="close-btn-img"></a>
                        </div>
                        <div class="cart-line-seperator"></div>
                      </div>
                      <div class="upsell-cart">
                        <div class="upsell-cart-title">{{ section.settings.upsell_title | newline_to_br }}</div>
                        <div class="upsell-cart-container">
                          <div class="upsell-cart-cell">
                            <div class="upsell-cart-image"><img src="{{ 'product-image.png' | asset_url }}" loading="lazy" alt="" class="img-cover-absolute"></div>
                            <div class="upsell-cart-info">
                              <div class="upsell-cart-product-title">{{ 't18d94975' | t }}</div>
                              <div class="upsell-cart-product-price">{{ 'tn3c91ae66' | t }}</div>
                            </div>
                            <div class="upsell-cart-swatches">
                              <div class="upsell-cart-swatches-title">{{ 't2ac97090' | t }}</div>
                              <div class="upsell-cart-swatches-container">
                                <div class="upsell-cart-swatch brown active"></div>
                                <div class="upsell-cart-swatch yellow"></div>
                                <div class="upsell-cart-swatch navy"></div>
                              </div>
                            </div>
                            <a href="#" class="upsell-cart-atc w-inline-block">{{ 'tn71c64b52' | t }}</a>
                          </div>
                          <div class="upsell-cart-cell">
                            <div class="upsell-cart-image"><img src="{{ 'product-image.png' | asset_url }}" loading="lazy" alt="" class="img-cover-absolute"></div>
                            <div class="upsell-cart-info">
                              <div class="upsell-cart-product-title">{{ 't18d94975' | t }}</div>
                              <div class="upsell-cart-product-price">{{ 'tn3c91ae66' | t }}</div>
                            </div>
                            <div class="upsell-cart-swatches">
                              <div class="upsell-cart-swatches-title">{{ 't2ac97090' | t }}</div>
                              <div class="upsell-cart-swatches-container">
                                <div class="upsell-cart-swatch brown active"></div>
                                <div class="upsell-cart-swatch yellow"></div>
                                <div class="upsell-cart-swatch navy"></div>
                              </div>
                            </div>
                            <a href="#" class="upsell-cart-atc w-inline-block">{{ 'tn71c64b52' | t }}</a>
                          </div>
                        </div>
                        <div class="custom-code-do-not-delete w-embed">
                          <style>
	.upsell-cart-container {
  	overflow: auto hidden;
  }
</style>
                        </div>
                      </div>
                    </div>
                    {%- form "contact",  class: "delete-this-div" -%}<label for="contact[email]">{{ 't3ff5b7c' | t }}</label><input type="email" name="contact[email]" class="w-input" required="">{%- assign form_success = form.posted_successfully? -%}{%- assign form_errors = form.errors -%}{%- render "form-general-script", form_success: form_success, form_errors: form_errors -%}{%- endform -%}
                    <div class="delete-this-div w-form-done  {% if form_success %}form-posted-successfully{% endif %}"></div>
                    {%- unless form_success -%}<div class="delete-this-div w-form-fail  {% if form.errors %}form-has-errors{% endif %}">{%- render "form-errors", form_errors: form_errors -%}</div>{%- endunless -%}
                  </div>
                  <div class="shipping-bar-footer">
                    <div class="shopping-info">
                      <div>{{ 'tn677f458d' | t }}</div>
                      <div>{{ 'tndde9e1a' | t }}</div>
                    </div>
                    <div class="shopping-info">
                      <div>{{ 'tn1aeabe32' | t }}</div>
                      <div>{{ 'tn337fc5c0' | t }}</div>
                    </div>
                    <div class="shopping-info total">
                      <div>{{ 'tn6a56878d' | t }}</div>
                      <div>{{ 'tndd34071' | t }}</div>
                    </div>
                    <div class="side-cart-guarantee">{{ section.settings.atc_garantie | newline_to_br }}</div>
                    <a href="#" class="checkout-btn w-inline-block">{{ 'tn4ac247ab' | t }}</a>
                    <div class="payment-icons">
                      <div class="payment-icon"><img src="{{ 'bancontact-1b5f5b192aedfa7ce6d2f62dccc81a01c97e6f4b48c301e8c54c610e9276de94.png.svg' | asset_url }}" loading="lazy" alt="" class="payment-icon-img"></div>
                      <div class="payment-icon"><img src="{{ 'klarna-389801c6056cb5600b4f05f72ebc2c58e4947688c6c4f5e6ccea41f7973d3a28.svg.svg' | asset_url }}" loading="lazy" alt="" class="payment-icon-img"></div>
                      <div class="payment-icon"><img src="{{ 'paypal-logo_uujmio.png.svg' | asset_url }}" loading="lazy" alt="" class="payment-icon-img"></div>
                      <div class="payment-icon"><img src="{{ 'master-173035bc8124581983d4efa50cf8626e8553c2b311353fbf67485f9c1a2b88d1.svg.svg' | asset_url }}" loading="lazy" alt="" class="payment-icon-img"></div>
                      <div class="payment-icon"><img src="{{ 'maestro-d2055c6b416c46cf134f393e1df6e0ba31722b623870f954afd392092207889c.svg.svg' | asset_url }}" loading="lazy" alt="" class="payment-icon-img"></div>
                      <div class="payment-icon"><img src="{{ 'american_express-2264c9b8b57b23b0b0831827e90cd7bcda2836adc42a912ebedf545dead35b20.svg.svg' | asset_url }}" loading="lazy" alt="" class="payment-icon-img"></div>
                      <div class="payment-icon"><img src="{{ 'visa-319d545c6fd255c9aad5eeaad21fd6f7f7b4fdbdb1a35ce83b89cca12a187f00.svg.svg' | asset_url }}" loading="lazy" alt="" class="payment-icon-img"></div>
                    </div>
                  </div>
                  <div class="w-embed">
                    <style>
#sidecart-main-content-wrapper {
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  width: inherit;
}
</style>
                  </div>
                </div>
              </div>
            </div>
            <div class="unique-selling-points-pdp">
              <div class="usp-s-title">{{ section.settings.waarom_titel | newline_to_br }}</div>
              <div class="inner-container-usp-s">
                {%- for block in section.blocks -%}{%- if block.type == "why_reason" -%}<div class="usp-wrapper pdp" block.shopify_attributes>
                  <div class="usp-icon pdp">{%- if block.settings.afbeelding == nil -%}<img src="{{ 'temperatuur.svg' | asset_url }}" loading="lazy" alt="" class="ups-icon-img">{%- else -%}<img src="{{ block.settings.afbeelding.src | img_url: 'master' }}" loading="lazy" alt="{{ block.settings.afbeelding.alt | escape }}" class="ups-icon-img" srcset="{{ block.settings.afbeelding | img_url: '1920x' }} 1920w,{{ block.settings.afbeelding | img_url: '1600x' }} 1600w,{{ block.settings.afbeelding | img_url: '1366x' }} 1366w,{{ block.settings.afbeelding | img_url: '1024x' }} 1024w,{{ block.settings.afbeelding | img_url: '768x' }} 768w,{{ block.settings.afbeelding | img_url: '640x' }} 640w">{%- endif -%}</div>
                  <div>{{ block.settings.why_paragraph | newline_to_br }}</div>
                </div>{%- endif -%}{%- endfor -%}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  

<script>var currentSection = document.currentScript.closest('.shopify-section');currentSection.setAttribute("class","product-section");</script>
        
{% schema %}{
  "presets": [
    {
      "name": "V1 - Product"
    }
  ],
  "name": "V1 - Product",
  "tag": "div",
  "class": "product-section",
  "settings": [
    {
      "type": "textarea",
      "id": "atc_garantie",
      "label": "ATC Garantie",
      "default": "VANDAAG BESTELD? MORGEN IN HUIS"
    },
    {
      "type": "textarea",
      "id": "titel",
      "label": "Titel",
      "default": "Mijn winkelwagen (1 item)"
    },
    {
      "type": "textarea",
      "id": "motivator",
      "label": "Motivator",
      "default": "Goede keuze. Dit product verkoopt snel."
    },
    {
      "type": "textarea",
      "id": "upsell_title",
      "label": "Upsell Title",
      "default": "Maak je bestelling af"
    },
    {
      "type": "textarea",
      "id": "waarom_titel",
      "label": "Waarom titel",
      "default": "Waarom Heat Up?"
    },
    {
      "type": "image_picker",
      "id": "afbeelding",
      "label": "Afbeelding"
    },
    {
      "type": "image_picker",
      "id": "motivator_icon",
      "label": "Motivator icon"
    }
  ],
  "blocks": [
    {
      "name": "Hero Afbeelding",
      "type": "hero_afbeelding",
      "settings": [
        {
          "type": "textarea",
          "id": "label_text",
          "label": "Label Text",
          "default": "FAST SELLING"
        },
        {
          "type": "image_picker",
          "id": "afbeelding",
          "label": "Afbeelding"
        },
        {
          "type": "image_picker",
          "id": "product_label_icon",
          "label": "Product Label Icon"
        },
        {
          "type": "image_picker",
          "id": "badge_1",
          "label": "Badge 1"
        },
        {
          "type": "image_picker",
          "id": "badge_2",
          "label": "Badge 2"
        },
        {
          "type": "checkbox",
          "id": "labels_aanuit",
          "label": "Labels aan/uit",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "product_label_aanuit",
          "label": "Product label aan/uit",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "trust_badges_aanuit",
          "label": "Trust Badges aan/uit",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "badge_1_aanuit",
          "label": "Badge 1 aan/uit",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "badge_2_aanuit",
          "label": "Badge 2 aan/uit",
          "default": true
        }
      ]
    },
    {
      "name": "2 Afbeeldingen",
      "type": "2_afbeeldingen",
      "settings": [
        {
          "type": "image_picker",
          "id": "afbeelding_1",
          "label": "Afbeelding 1"
        },
        {
          "type": "image_picker",
          "id": "afbeelding_2",
          "label": "Afbeelding 2"
        }
      ]
    },
    {
      "name": "USP",
      "type": "usp"
    },
    {
      "name": "USP - Icon + Text",
      "type": "usp_icon_text",
      "settings": [
        {
          "type": "textarea",
          "id": "waardepropositie",
          "label": "Waardepropositie",
          "default": "Fast Charging: Opwarmt snel voor snelle verlichting en ontspanning."
        },
        {
          "type": "image_picker",
          "id": "afbeelding",
          "label": "Afbeelding"
        }
      ]
    },
    {
      "name": "Why Reason",
      "type": "why_reason",
      "settings": [
        {
          "type": "textarea",
          "id": "why_paragraph",
          "label": "Why paragraph",
          "default": "Probeer gratis 30 dagen warmte"
        },
        {
          "type": "image_picker",
          "id": "afbeelding",
          "label": "Afbeelding"
        }
      ]
    }
  ]
}{% endschema %}