<div class="page-padding-2">
  <div class="container_v2">
    <div class="w-layout-grid statistics-component">
      <div id="w-node-_45c60ae5-807b-4817-dd70-25981868b646-1868b642" class="statistics-content">
        <div class="left-aligned-header key-features">
          <h1 class="h1-section">{{ section.settings.titel | newline_to_br }}</h1>
          {%- if section.settings.subtitel_weergeven -%}
            <p>{{ section.settings.tagline | newline_to_br }}</p>
          {%- endif -%}
        </div>
        <div class="w-layout-grid statistic-list">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'counter' %}
              <div class="statistics-list-item">
                <div class="statistics-h2">
                  <span class="counterup">{{ block.settings.counter-number }}</span>
                  <span>{{ block.settings.counter-sign }}</span>
                </div>
                <div>{{ block.settings.counter-text }}</div>
              </div>
            {% endcase %}
          {% endfor %}
        </div>
      </div>
      <div id="w-node-_45c60ae5-807b-4817-dd70-25981868b661-1868b642" class="images-wrapper-statistics"><img
          src="{{ section.settings.top_image | img_url: 'master' }}"
          loading="lazy"
          alt=""
          class="statistics-img-1"><img
          src="{{ section.settings.middle_image | img_url: 'master' }}"
          loading="lazy"
          alt=""
          class="statistics-img-2"><img
          src="{{ section.settings.bottom_image | img_url: 'master' }}"
          loading="lazy"
          alt=""
          class="statistics-img-3"><img
          src="{{ section.settings.mobile_image | img_url: 'master' }}"
          loading="lazy"
          sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, 100vw"
          srcset="{{ section.settings.mobile_image | img_url: 'master' }} 500w, {{ section.settings.mobile_image | img_url: 'master' }} 800w, {{ section.settings.mobile_image | img_url: 'master' }} 1074w"
          alt=""
          class="statistics-mobile"></div>
    </div>
  </div>
</div>


<script>
  var currentSection = document.currentScript.closest('.shopify-section');
  currentSection.setAttribute("class", "statistics-section");
</script>


{% schema %}
  {
    "presets": [
      {
        "name": "V1 - Statistics"
      }
    ],
    "name": "V1 - Statistics",
    "tag": "section",
    "class": "statistics-section",
    "settings": [
      {
        "type": "textarea",
        "id": "titel",
        "label": "Titel",
        "default": "Highlight key features of the product or service"
      },
      {
        "type": "textarea",
        "id": "tagline",
        "label": "Tagline",
        "default": "Emphasise time-saving and use numbers to maximise credibility."
      },
      {
        "type": "image_picker",
        "id": "top_image",
        "label": "Top Image"
      },
      {
        "type": "image_picker",
        "id": "middle_image",
        "label": "Middle Image"
      }, {
        "type": "image_picker",
        "id": "bottom_image",
        "label": "Bottom Image"
      }, {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Image"
      }, {
        "type": "checkbox",
        "id": "subtitel_weergeven",
        "label": "Subtitel weergeven",
        "default": true
      }
    ],
    "blocks": [
      {
        "name": "Counter",
        "type": "counter",
        "settings": [
          {
            "type": "text",
            "id": "counter-number",
            "label": "Counter Number"
          }, {
            "type": "text",
            "id": "counter-sign",
            "label": "Counter Sign"
          }, {
            "type": "text",
            "id": "counter-text",
            "label": "Counter Text"
          }
        ]
      }
    ]
  }
{% endschema %}